In [29]:
import pandas as pd
import numpy as np

#### 5 features

In [30]:
simple_8_df = pd.read_csv('../data/very_simple_datasets/feats_8.csv')
simple_8_df.head()

,ana,anti_dsdna_antibody,joint_involvement,proteinuria,pericardial_effusion,non_scarring_alopecia,leukopenia,delirium,label
0,0,0,1,0,1,1,1,0,No lupus
1,1,0,0,0,0,0,0,0,No lupus
2,0,0,1,0,0,0,0,1,No lupus
3,0,1,0,1,0,0,0,0,No lupus
4,1,0,1,0,1,1,1,0,Lupus

In [31]:
lupus_8_df = pd.read_csv('../data/very_simple_datasets/lupus_8_features.csv')
lupus_8_df.head()

,ana,anti_dsdna_antibody,joint_involvement,proteinuria,pericardial_effusion,non_scarring_alopecia,leukopenia,delirium,label
0,1,0,0,1,1,1,0,0,1
1,0,0,1,0,0,0,0,1,0
2,1,0,1,1,0,0,1,1,1
3,1,1,0,1,0,0,0,0,1
4,0,0,0,0,0,1,1,0,0

In [32]:
simple_8_df.label.value_counts()

No lupus    42852
Lupus       27148
Name: label, dtype: int64

In [33]:
lupus_8_df.label.value_counts()

0    33118
1    31882
Name: label, dtype: int64

In [34]:
len(simple_8_df[simple_8_df.ana==0])

34974

In [35]:
len(lupus_8_df[lupus_8_df.ana==0])

15000

In [38]:
len(simple_8_df[simple_8_df.ana==1])

35026

In [39]:
len(lupus_8_df[lupus_8_df.ana==1])

50000

In [40]:
len(simple_8_df[(simple_8_df.ana==1) & (simple_8_df.label=='No lupus')])

7878

In [41]:
len(lupus_8_df[(lupus_8_df.ana==1) & (lupus_8_df.label==0)])

18118

In [42]:
len(simple_8_df[(simple_8_df.ana==1) & (simple_8_df.label=='Lupus')])

27148

In [43]:
len(lupus_8_df[(lupus_8_df.ana==1) & (lupus_8_df.label==1)])

31882

In [57]:
lupus_8_df.leukopenia.value_counts()

0    43086
1    21914
Name: leukopenia, dtype: int64