In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
testing_df = pd.read_csv('../data/missingness/0/testing_set.csv')
testing_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
2,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,0,1
3,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,1
4,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,1

In [12]:
model_test_df = pd.read_csv('../test_dfs/negative_reward/step_reward_twenty_two.csv')
model_test_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,0.0,8.0,1.727273,1.0,1.0,"['ana', 'joint_involvement', 'low_c4', 'oral_u...",0.0,1.0
1,1.0,13.0,1.500000,1.0,1.0,"['ana', 'joint_involvement', 'proteinuria', 'p...",0.0,1.0
2,2.0,8.0,1.727273,1.0,1.0,"['ana', 'joint_involvement', 'low_c4', 'oral_u...",0.0,1.0
3,3.0,18.0,1.272727,1.0,1.0,"['ana', 'joint_involvement', 'proteinuria', 'p...",0.0,1.0
4,4.0,8.0,1.727273,1.0,1.0,"['ana', 'joint_involvement', 'low_c4', 'oral_u...",0.0,1.0

In [13]:
model_test_df.iloc[0]['trajectory']

"['ana', 'joint_involvement', 'low_c4', 'oral_ulcers', 'proteinuria', 'pericardial_effusion', 'thrombocytopenia', 'Lupus']"

In [14]:
len(model_test_df[model_test_df.trajectory == "['ana', 'No lupus']"])

3954

In [15]:
len(testing_df[testing_df.ana==0])

3954