In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
import os
import tensorflow
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
tensorflow.set_random_seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)

#### The Data

In [3]:
class_dict = {'No anemia': 0, 'Hemolytic anemia': 1, 'Aplastic anemia': 2, 'Iron deficiency anemia': 3,
              'Vitamin B12/Folate deficiency anemia': 4, 'Anemia of chronic disease': 5, 'Unspecified anemia': 6}

In [4]:
#df = pd.read_csv('data/anemia_synth_dataset_hb_some_nans.csv') #my real dataset i think
df = pd.read_csv('data/anemia_synth_dataset_with_unspecified.csv')
#df = pd.read_csv('data/anemia_synth_dataset_hb.csv')
#df = pd.read_csv('data/noisy_dataset.csv')
df = df.fillna(0)
# classes = list(df.label.unique())
# nums = [i for i in range(len(classes))]
# class_dict = dict(zip(classes, nums))
# class_dict

In [5]:
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,label
0,6.780822,0.0,0.765900,0.0,0.000000,94.832889,Aplastic anemia
1,8.273517,0.0,1.886329,0.0,255.874605,80.271248,Aplastic anemia
2,6.476354,0.0,2.242322,0.0,0.000000,96.768764,Hemolytic anemia
3,9.667797,0.0,0.764684,0.0,0.000000,114.090607,Unspecified anemia
4,1.239798,0.0,6.775830,0.0,0.000000,87.933601,Hemolytic anemia

In [6]:
df['label'] = df['label'].replace(class_dict)
print(df.label.value_counts())
X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=SEED)
X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

1    14146
0    10000
2     9450
5     1869
6     1604
4     1575
3     1343
Name: label, dtype: int64

((27990, 6), (11997, 6), (27990,), (11997,))

In [7]:
len(df)

39987

In [8]:
action_list = list(class_dict.keys()) + [col  for col in df.columns if col!='label']
len(action_list)

13

In [9]:
action_list

['No anemia',
 'Hemolytic anemia',
 'Aplastic anemia',
 'Iron deficiency anemia',
 'Vitamin B12/Folate deficiency anemia',
 'Anemia of chronic disease',
 'Unspecified anemia',
 'hemoglobin',
 'ferritin',
 'ret_count',
 'segmented_neutrophils',
 'tibc',
 'mcv']

In [10]:
X_train[:2], X_test[:2]

(array([[ 9.17783724,  0.        ,  1.32774489,  0.        ,  0.        ,
         80.83429325],
        [11.41347545, 42.2964447 ,  2.35417763,  0.        ,  0.        ,
         87.28499224]]),
 array([[  6.35811418,   7.45690517,   0.89950967,   0.        ,
         179.32152946,  79.83429422],
        [  6.91682445,   0.        ,   3.36409312,   0.        ,
           0.        ,  93.72734991]]))

#### The Environment

In [11]:
from envs import SyntheticComplexHbEnv

#### The Agent

In [12]:
from stable_baselines.common.env_checker import check_env
from stable_baselines.common.policies import MlpPolicy
from stable_baselines.common.vec_env import DummyVecEnv
from stable_baselines import PPO2
from stable_baselines import DQN
from stable_baselines import bench, logger

C:\Users\User\Anaconda3\envs\tf_v1_env\lib\site-packages\stable_baselines\__init__.py:33: UserWarning: stable-baselines is in maintenance mode, please use [Stable-Baselines3 (SB3)](https://github.com/DLR-RM/stable-baselines3) for an up-to-date version. You can find a [migration guide](https://stable-baselines3.readthedocs.io/en/master/guide/migration.html) in SB3 documentation.
  "stable-baselines is in maintenance mode, please use [Stable-Baselines3 (SB3)](https://github.com/DLR-RM/stable-baselines3) for an up-to-date version. You can find a [migration guide](https://stable-baselines3.readthedocs.io/en/master/guide/migration.html) in SB3 documentation."

In [29]:
def stable_dqn():
    training_env = SyntheticComplexHbEnv(X_train, y_train)
    env = bench.Monitor(training_env, logger.get_dir())
    model = DQN('MlpPolicy', training_env, verbose=1, seed=SEED, n_cpu_tf_sess=1)
    model.learn(total_timesteps=int(1.5e6), log_interval=10000)
    #model.learn(total_timesteps=int(1.2e5), log_interval=10000)
    #model.save('models/synthetic_stable_dqn_1.8.pkl')
    #model.save('models/noisy/dqn_6e6.pkl')
    model.save('models/unspecified/dqn_15e6.pkl')
    env.close()
    return model

dqn_model = stable_dqn()

--------------------------------------
| % time spent exploring  | 87       |
| episodes                | 10000    |
| mean 100 episode reward | -0       |
| steps                   | 19662    |
| success rate            | 0.17     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 72       |
| episodes                | 20000    |
| mean 100 episode reward | -0.1     |
| steps                   | 42857    |
| success rate            | 0.12     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 53       |
| episodes                | 30000    |
| mean 100 episode reward | -0.3     |
| steps                   | 71401    |
| success rate            | 0.12     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 27       |
| episodes                | 40000    |
| mean 100 episode reward | -1.1     |
| steps                   | 110348   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 50000    |
| mean 100 episode reward | 2.3      |
| steps                   | 155632   |
| success rate            | 0.75     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 60000    |
| mean 100 episode reward | 2.6      |
| steps                   | 198534   |
| success rate            | 0.78     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 70000    |
| mean 100 episode reward | 2.3      |
| steps                   | 238765   |
| success rate            | 0.8      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 80000    |
| mean 100 episode reward | 1.4      |
| steps                   | 278410   |
| success rate            | 0.74     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 90000    |
| mean 100 episode reward | 2.2      |
| steps                   | 318550   |
| success rate            | 0.76     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 100000   |
| mean 100 episode reward | 2.5      |
| steps                   | 358990   |
| success rate            | 0.8      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 110000   |
| mean 100 episode reward | 2.7      |
| steps                   | 398720   |
| success rate            | 0.8      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 120000   |
| mean 100 episode reward | 2.1      |
| steps                   | 438411   |
| success rate            | 0.75     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 130000   |
| mean 100 episode reward | 2.4      |
| steps                   | 478588   |
| success rate            | 0.86     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 140000   |
| mean 100 episode reward | 1.8      |
| steps                   | 518760   |
| success rate            | 0.69     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 150000   |
| mean 100 episode reward | 2.6      |
| steps                   | 558405   |
| success rate            | 0.86     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 160000   |
| mean 100 episode reward | 2.4      |
| steps                   | 598695   |
| success rate            | 0.82     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 170000   |
| mean 100 episode reward | 2.4      |
| steps                   | 638691   |
| success rate            | 0.83     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 180000   |
| mean 100 episode reward | 2.4      |
| steps                   | 678686   |
| success rate            | 0.83     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 190000   |
| mean 100 episode reward | 2.5      |
| steps                   | 719536   |
| success rate            | 0.81     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 200000   |
| mean 100 episode reward | 2.4      |
| steps                   | 759589   |
| success rate            | 0.78     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 210000   |
| mean 100 episode reward | 2.4      |
| steps                   | 799646   |
| success rate            | 0.82     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 220000   |
| mean 100 episode reward | 2.5      |
| steps                   | 840753   |
| success rate            | 0.82     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 230000   |
| mean 100 episode reward | 2.5      |
| steps                   | 881069   |
| success rate            | 0.8      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 240000   |
| mean 100 episode reward | 2.3      |
| steps                   | 921059   |
| success rate            | 0.79     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 250000   |
| mean 100 episode reward | 2.4      |
| steps                   | 960865   |
| success rate            | 0.76     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 260000   |
| mean 100 episode reward | 2.3      |
| steps                   | 1001150  |
| success rate            | 0.83     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 270000   |
| mean 100 episode reward | 2.5      |
| steps                   | 1041129  |
| success rate            | 0.82     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 280000   |
| mean 100 episode reward | 2.3      |
| steps                   | 1081407  |
| success rate            | 0.8      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 290000   |
| mean 100 episode reward | 2.5      |
| steps                   | 1121554  |
| success rate            | 0.84     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 300000   |
| mean 100 episode reward | 2.5      |
| steps                   | 1161396  |
| success rate            | 0.81     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 310000   |
| mean 100 episode reward | 2.4      |
| steps                   | 1201338  |
| success rate            | 0.8      |
--------------------------------------

--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 320000   |
| mean 100 episode reward | 2.9      |
| steps                   | 1240991  |
| success rate            | 0.86     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 330000   |
| mean 100 episode reward | 2.5      |
| steps                   | 1281004  |
| success rate            | 0.79     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 340000   |
| mean 100 episode reward | 2.5      |
| steps                   | 1320777  |
| success rate            | 0.85     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 350000   |
| mean 100 episode reward | 2.2      |
| steps                   | 1360864  |
| success rate            | 0.75     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 360000   |
| mean 100 episode reward | 1.9      |
| steps                   | 1400330  |
| success rate            | 0.75     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 370000   |
| mean 100 episode reward | 2.6      |
| steps                   | 1440253  |
| success rate            | 0.83     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 2        |
| episodes                | 380000   |
| mean 100 episode reward | 2.2      |
| steps                   | 1480250  |
| success rate            | 0.78     |
--------------------------------------

#### Performance Evaluation

In [40]:
#dqn_model = DQN.load('models/synthentic_with_hb_some_nans_stable_dqn2e6.pkl')
dqn_model = DQN.load('models/unspecified/dqn_2e6.pkl')

Loading a model without an environment, this model cannot be trained until it has a valid environment.

In [41]:
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score, auc, roc_curve

In [42]:
def multiclass(actual_class, pred_class, average = 'macro'):

    unique_class = set(actual_class)
    roc_auc_dict = {}
    for per_class in unique_class:
        other_class = [x for x in unique_class if x != per_class]
        new_actual_class = [0 if x in other_class else 1 for x in actual_class]
        new_pred_class = [0 if x in other_class else 1 for x in pred_class]
        roc_auc = roc_auc_score(new_actual_class, new_pred_class, average = average)
        roc_auc_dict[per_class] = roc_auc
    avg = sum(roc_auc_dict.values()) / len(roc_auc_dict)
    return avg

In [43]:
def test(ytest, ypred):
    acc = accuracy_score(ytest, ypred)
    f1 = f1_score(ytest, ypred, average ='macro', labels=np.unique(ytest))
    try:
        roc_auc = multiclass(ytest, ypred)
    except:
        roc_auc = None
    return acc, f1, roc_auc

In [44]:
def get_avg_length_reward(df):
    length = np.mean(df.episode_length)
    reward = np.mean(df.reward)
    return length, reward

In [45]:
def synthetic_dqn_eval(dqn_model):
    test_df = pd.DataFrame()

    env = SyntheticComplexHbEnv(X_test, y_test, random=False)
    #env = SyntheticComplexHbEnv(X_train, y_train, random=False)
    count=0

    try:
        while True:
            count+=1
            if count%5000==0:
                print(f'Count: {count}')
            obs, done = env.reset(), False
            while not done:
                action, _states = dqn_model.predict(obs, deterministic=True)
                obs, rew, done,info = env.step(action)
                #if (done==True) & (np.isfinite(info['y_pred'])):
                if done == True:
                    test_df = test_df.append(info, ignore_index=True)
                #print('....................TEST DF ....................')
                #if len(test_df) != 0:
                #    print(test_df.head())

    except StopIteration:
        print('Testing done.....')
    return test_df

test_df = synthetic_dqn_eval(dqn_model)

Count: 5000
Count: 10000
Testing done.....

In [46]:
test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,4.0,0.0,0.0,2.0,0.0,"[hemoglobin, mcv, ret_count, Aplastic anemia]",3.0,2.0
1,4.0,1.0,1.0,4.0,0.0,"[hemoglobin, mcv, ret_count, Hemolytic anemia]",1.0,1.0
2,4.0,2.0,1.0,4.0,0.0,"[hemoglobin, mcv, ret_count, Hemolytic anemia]",1.0,1.0
3,3.0,3.0,1.0,3.0,0.0,"[hemoglobin, mcv, Unspecified anemia]",6.0,6.0
4,2.0,4.0,1.0,2.0,0.0,"[hemoglobin, No anemia]",0.0,0.0

In [47]:
len(X_test), len(test_df)

(11997, 11997)

In [48]:
y_pred_df = test_df[test_df['y_pred'].notna()]
success_df = y_pred_df[y_pred_df['y_pred']== y_pred_df['y_actual']]
len(success_df)

10496

In [58]:
test_df = pd.read_csv('test_dfs/test_df_with_hb_some_nans_2e6.csv')
test_df.head(10)

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,4.0,0.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
1,4.0,1.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",2.0,2.0
2,4.0,2.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
3,2.0,3.0,1.0,2.0,0.0,"['hemoglobin', 'No anemia']",0.0,0.0
4,4.0,4.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",2.0,2.0
5,4.0,5.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",2.0,2.0
6,4.0,6.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
7,4.0,7.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
8,4.0,8.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",1.0,1.0
9,4.0,9.0,1.0,4.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",2.0,2.0

In [59]:
test_df.episode_length.mean()

3.6983933999131566

In [49]:
test_df.to_csv('test_dfs/unspecified/test_df_2e6.csv', index=False)
y_pred_df.to_csv('test_dfs/unspecified/y_pred_df_2e6.csv', index=False)
success_df.to_csv('test_dfs/unspecified/success_df_2e6.csv', index=False)

In [50]:
y_pred_df.y_pred.unique()

array([2., 1., 6., 0., 3., 4., 5.])

In [51]:
y_pred_df.y_pred.value_counts()

1.0    4248
2.0    3213
0.0    3000
6.0     621
3.0     379
4.0     142
5.0       7
Name: y_pred, dtype: int64

In [52]:
y_pred_df.y_actual.value_counts()

1.0    4234
0.0    2897
2.0    2750
5.0     520
6.0     418
4.0     407
3.0     384
Name: y_actual, dtype: int64

In [53]:
success_rate = len(success_df)/len(test_df)*100
success_rate

87.48853880136701

In [54]:
#avg length and return 
avg_length, avg_return = get_avg_length_reward(test_df)
avg_length, avg_return

(3.65824789530716, 3.1412853213303324)

In [55]:
acc, f1, roc_auc = test(y_pred_df['y_actual'], y_pred_df['y_pred'])
acc, f1, roc_auc

(0.9040482342807924, 0.6685935257851224, 0.837083394551071)

In [56]:
test_df[test_df.y_actual==6].head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
3,3.0,3.0,1.0,3.0,0.0,"[hemoglobin, mcv, Unspecified anemia]",6.0,6.0
62,3.0,62.0,0.0,1.0,0.0,"[hemoglobin, mcv, Vitamin B12/Folate deficienc...",6.0,4.0
102,3.0,102.0,0.0,1.0,0.0,"[hemoglobin, mcv, Vitamin B12/Folate deficienc...",6.0,4.0
206,3.0,206.0,1.0,3.0,0.0,"[hemoglobin, mcv, Unspecified anemia]",6.0,6.0
266,3.0,266.0,0.0,1.0,0.0,"[hemoglobin, mcv, No anemia]",6.0,0.0

#### Confusion Matrix and Classification Report

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
def plot_confusion_matrix(cm, save=False, filename=False):
    cm_df = pd.DataFrame(cm, index = [0, 1, 2, 3, 4, 5], columns = [0, 1, 2, 3, 4, 5])
    plt.figure(figsize=(8, 6))
    sns.heatmap(cm_df, annot=True)
    plt.title('Confusion Matrix')
    plt.ylabel('Actual Anemia')
    plt.xlabel('Predicted Anemia')
    plt.tight_layout()
    if save:
        plt.savefig(filename)
    plt.show()
    plt.close()

In [ ]:
#plot_confusion_matrix(confusion_matrix(y_pred_df['y_actual'], y_pred_df['y_pred']))

In [ ]:
def cm2inch(*tupl):
    inch = 2.54
    if type(tupl[0]) == tuple:
        return tuple(i/inch for i in tupl[0])
    else:
        return tuple(i/inch for i in tupl)

In [ ]:
def show_values(pc, fmt="%.2f", **kw):    
    pc.update_scalarmappable()
    ax = pc.axes
    for p, color, value in zip(pc.get_paths(), pc.get_facecolors(), pc.get_array()):
        x, y = p.vertices[:-2, :].mean(0)
        if np.all(color[:3] > 0.5):
            color = (0.0, 0.0, 0.0)
        else:
            color = (1.0, 1.0, 1.0)
        ax.text(x, y, fmt % value, ha="center", va="center", color=color, **kw)

In [ ]:
def heatmap(AUC, title, xlabel, ylabel, xticklabels, yticklabels, figure_width=40, figure_height=20, correct_orientation=False, cmap='RdBu'):
    fig, ax = plt.subplots()    
    c = ax.pcolor(AUC, edgecolors='k', linestyle= 'dashed', linewidths=0.2, cmap=cmap)
    ax.set_yticks(np.arange(AUC.shape[0]) + 0.5, minor=False)
    ax.set_xticks(np.arange(AUC.shape[1]) + 0.5, minor=False)
    ax.set_xticklabels(xticklabels, minor=False)
    ax.set_yticklabels(yticklabels, minor=False)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)      

    # Remove last blank column
    plt.xlim( (0, AUC.shape[1]) )

    # Turn off all the ticks
    ax = plt.gca()    
    for t in ax.xaxis.get_major_ticks():
        t.tick1On = False
        t.tick2On = False
    for t in ax.yaxis.get_major_ticks():
        t.tick1On = False
        t.tick2On = False

    # Add color bar
    plt.colorbar(c)

    # Add text in each cell 
    show_values(c)

    # Proper orientation (origin at the top left instead of bottom left)
    if correct_orientation:
        ax.invert_yaxis()
        ax.xaxis.tick_top()       

    # resize 
    fig = plt.gcf()
    fig.set_size_inches(cm2inch(figure_width, figure_height))

In [ ]:
def plot_classification_report(classification_report, save=False, filename=False, cmap='RdBu'):
    lines = classification_report.split('\n')
    class_names = list(class_dict.keys())
    plotMat = []
    support = []
    #class_names = []
    #count = 0
    for line in lines[2 : (len(lines) - 5)]:
        t = line.strip().split()
        if len(t) < 2: continue
        v = [float(x) for x in t[1: len(t) - 1]]
        support.append(int(t[-1]))
        plotMat.append(v)

    xlabel = 'Metrics'
    ylabel = 'Classes'
    xticklabels = ['Precision', 'Recall', 'F1-score']
    ytick_labels = [f'{class_names[i]}({sup})' for i, sup in enumerate(support) ]
    
    #print(len(support))
    yticklabels = ['{0} ({1})'.format(class_names[idx], sup) for idx, sup  in enumerate(support)]
    figure_width = 25
    figure_height = len(class_names) + 7
    correct_orientation = False
    heatmap(np.array(plotMat), 'classification report', xlabel, ylabel, xticklabels, yticklabels, figure_width, figure_height, correct_orientation, cmap=cmap)
    #plt.tight_layout()
    if save:
        plt.savefig(filename, bbox_inches = 'tight')
    plt.show()
    plt.close()

In [ ]:
cr = classification_report(y_pred_df['y_actual'], y_pred_df['y_pred'])
plot_classification_report(cr)

In [ ]:
plot_classification_report(cr)