In [ ]:
import pandas as pd
import numpy as np
import ast
import random
import os
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)

#### X test df

In [3]:
df = pd.read_csv('../../data/more_features/more_feats_correlated_noisy_6.csv')
df = df.fillna(-1)
class_dict = constants.CLASS_DICT
df['label'] = df['label'].replace(class_dict)
X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
X_test_df = pd.concat([X_test, y_test], axis=1)
X_test_df = X_test_df.reset_index(drop=True)
X_test_df.head()

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\__init__.py:806: DeprecationWarning:

`np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\__init__.py:806: DeprecationWarning:

`np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,6.204978,-1.000000,-1.000000,2.131408,-1.000000,104.163393,22.492093,1.787090,0,0.469956,40.182165,128.473462,5.733055,21.877512,135.419585,18.614933,-1.000000,1
1,11.808473,368.003443,1.786517,-1.000000,392.060251,95.795621,203.695622,3.698021,0,-1.000000,100.416558,78.044472,60.941983,12.747098,80.654395,35.425420,51.955183,5
2,12.783204,-1.000000,5.029038,0.585740,163.190083,77.413587,241.639496,4.953861,1,1.472039,100.304009,98.373316,22.997871,10.402095,-1.000000,38.349613,148.072414,3
3,7.095181,214.430322,2.735406,-1.000000,490.037934,104.419608,78.891697,2.038462,0,-1.000000,58.217330,36.944337,61.723799,21.393480,53.380670,21.285544,16.099100,2
4,8.240238,396.572632,2.043808,-1.000000,335.569660,104.500375,88.215797,2.365610,0,-1.000000,107.350500,52.099095,-1.000000,10.237103,-1.000000,24.720715,26.288371,0

#### The test df

In [5]:
test_df = pd.read_csv('../../test_dfs/many_features/0.1/correlated/test_df3_noisy6_23000000.csv')
test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,4.0,0.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0
1,4.0,1.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",5.0,6.0
2,5.0,2.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'mcv', 'tibc', 'Anemi...",3.0,3.0
3,4.0,3.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,7.0
4,4.0,4.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",0.0,7.0

In [6]:
len(X_test_df), len(test_df)

(14000, 14000)

In [7]:
a1 = np.array(test_df['y_actual'], dtype=np.float32)
a2 = np.array(X_test_df['label'], dtype=np.float32)
assert np.array_equal(a1, a2)

#### 0 - No anemia

In [36]:
no_test_df = test_df[test_df.y_actual== 0]
no_x_test_df = X_test_df[X_test_df.label==0]
combined_no_test_df = pd.concat([no_test_df, no_x_test_df], axis=1)
combined_no_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
4,4.0,4.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",0.0,7.0,8.240238,396.572632,...,0,-1.000000,107.350500,52.099095,-1.000000,10.237103,-1.000000,24.720715,26.288371,0
9,3.0,9.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",0.0,0.0,15.352544,-1.000000,...,0,1.495105,36.951849,123.864065,29.116394,28.622606,88.874763,46.057632,18.412158,0
18,4.0,18.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",0.0,6.0,7.315954,-1.000000,...,1,-1.000000,137.041434,97.658288,16.401343,1.258549,-1.000000,21.947861,53.331544,0
19,4.0,19.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",0.0,7.0,6.706494,225.136424,...,0,1.397963,45.845650,110.756327,61.315229,2.929410,100.027593,20.119483,-1.000000,0
21,4.0,21.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",0.0,6.0,10.699275,287.649847,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,32.097826,-1.000000,0

In [37]:
combined_no_test_df.y_pred.value_counts()

0.0    2005
7.0     325
6.0     206
3.0     155
5.0     148
4.0     128
1.0     122
2.0     111
Name: y_pred, dtype: int64

In [53]:
misdiag_no_df = combined_no_test_df[combined_no_test_df.y_pred != combined_no_test_df.y_actual]
misdiag_no_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
4,4.0,4.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",0.0,7.0,8.240238,396.572632,...,0,-1.000000,107.350500,52.099095,-1.000000,10.237103,-1.000000,24.720715,26.288371,0
18,4.0,18.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",0.0,6.0,7.315954,-1.000000,...,1,-1.000000,137.041434,97.658288,16.401343,1.258549,-1.000000,21.947861,53.331544,0
19,4.0,19.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",0.0,7.0,6.706494,225.136424,...,0,1.397963,45.845650,110.756327,61.315229,2.929410,100.027593,20.119483,-1.000000,0
21,4.0,21.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",0.0,6.0,10.699275,287.649847,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,32.097826,-1.000000,0
28,6.0,28.0,0.0,-1.0,0.0,"['hemoglobin', 'gender', 'mcv', 'tibc', 'ferri...",0.0,4.0,12.828261,29.909432,...,1,1.201556,86.225857,129.159070,73.987181,25.884368,128.676564,38.484782,18.881420,0

In [54]:
misdiag_no_df.describe()['hemoglobin']

count    1195.000000
mean        9.614622
std         2.020429
min         6.014750
25%         7.942155
50%         9.739505
75%        11.348093
max        12.984677
Name: hemoglobin, dtype: float64

#### 1 - Vitamin b12

In [10]:
vit_test_df = test_df[test_df.y_actual== 1]
vit_x_test_df = X_test_df[X_test_df.label==1]
combined_vit_test_df = pd.concat([vit_test_df, vit_x_test_df], axis=1)
combined_vit_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,4.0,0.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0,6.204978,-1.000000,...,0,0.469956,40.182165,128.473462,5.733055,21.877512,135.419585,18.614933,-1.000000,1
5,4.0,5.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0,11.824694,154.737651,...,1,0.282913,144.591963,122.033481,68.640907,25.706079,137.321897,35.474083,-1.000000,1
14,4.0,14.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0,7.523000,300.936978,...,1,0.905964,118.680251,73.227278,68.747881,26.710734,-1.000000,22.568999,72.869535,1
27,4.0,27.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,7.0,7.452135,342.291675,...,1,1.843186,22.494684,63.714087,33.544416,9.167257,-1.000000,22.356405,88.640206,1
38,4.0,38.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,7.0,11.261562,76.591078,...,0,1.397187,100.635491,64.909438,23.001136,18.248724,73.303537,33.784687,52.870631,1

In [12]:
combined_vit_test_df.y_pred.value_counts()

1.0    834
7.0    594
5.0     87
6.0     50
3.0     39
0.0      9
2.0      3
Name: y_pred, dtype: int64

In [29]:
misdiag_vit_df = combined_vit_test_df[combined_vit_test_df.y_pred != combined_vit_test_df.y_actual]
misdiag_vit_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
27,4.0,27.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,7.0,7.452135,342.291675,...,1,1.843186,22.494684,63.714087,33.544416,9.167257,-1.000000,22.356405,88.640206,1
38,4.0,38.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,7.0,11.261562,76.591078,...,0,1.397187,100.635491,64.909438,23.001136,18.248724,73.303537,33.784687,52.870631,1
52,4.0,52.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,7.0,9.858590,-1.000000,...,0,1.164343,-1.000000,-1.000000,3.397704,-1.000000,82.628697,29.575769,-1.000000,1
68,4.0,68.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'ret_count', 'Inconclusi...",1.0,7.0,11.442022,-1.000000,...,0,-1.000000,136.341476,35.943460,-1.000000,10.139734,-1.000000,34.326067,-1.000000,1
75,4.0,75.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,7.0,10.708902,218.998436,...,0,0.590629,21.955620,38.530219,27.535046,1.853949,76.488834,32.126706,49.680021,1

In [35]:
# a = misdiag_vit_df[misdiag_vit_df.y_pred==7]
# b = a[a.segmented_neutrophils >0]
# b.describe()['mcv']

#### 2 - Unspecified anemia

In [ ]:
unspec_test_df = test_df[test_df.y_actual== 2]
unspec_x_test_df = X_test_df[X_test_df.label==2]
combined_unspec_test_df = pd.concat([unspec_test_df, unspec_x_test_df], axis=1)
combined_unspec_test_df.head()

In [ ]:
combined_unspec_test_df.y_pred.value_counts()

In [ ]:
misdiag_unspec_df = combined_unspec_test_df[combined_unspec_test_df.y_pred != combined_unspec_test_df.y_actual]
misdiag_unspec_df.head()

In [ ]:
misdiag_unspec_df[(misdiag_unspec_df.y_pred==0) & (misdiag_unspec_df.gender==1)].describe()['hemoglobin']

#### 3 - Anemia of chronic disease

In [8]:
acd_test_df = test_df[test_df.y_actual== 3]
acd_x_test_df = X_test_df[X_test_df.label==3]
combined_acd_test_df = pd.concat([acd_test_df, acd_x_test_df], axis=1)
combined_acd_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
2,5.0,2.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'mcv', 'tibc', 'Anemi...",3.0,3.0,12.783204,-1.000000,...,1,1.472039,100.304009,98.373316,22.997871,10.402095,-1.000000,38.349613,148.072414,3
13,4.0,13.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",3.0,1.0,8.927647,448.627625,...,1,1.754744,63.839932,52.547580,7.111262,2.094691,-1.000000,26.782942,181.439120,3
33,4.0,33.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,7.889816,48.018555,...,0,0.491246,125.237183,105.876555,4.302717,24.848221,-1.000000,23.669449,33.188612,3
36,4.0,36.0,0.0,-1.0,1.0,"['hemoglobin', 'mcv', 'ret_count', 'Inconclusi...",3.0,7.0,8.350974,99.514925,...,1,1.367478,65.081302,84.728851,58.793880,8.473795,93.389337,25.052922,149.686376,3
47,4.0,47.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,11.175751,274.433743,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.527252,-1.000000,3

In [9]:
combined_acd_test_df.y_pred.value_counts()

3.0    1319
7.0     261
4.0      66
1.0      56
5.0      28
6.0      24
0.0       9
2.0       3
Name: y_pred, dtype: int64

In [ ]:
misdiag_acd_df = combined_acd_test_df[combined_acd_test_df.y_pred != combined_acd_test_df.y_actual]
misdiag_acd_df.head()

In [ ]:
misdiag_acd_df[misdiag_acd_df.y_pred==4].describe()['ferritin']

#### 4 - Iron deficiency anemia

In [ ]:
ida_test_df = test_df[test_df.y_actual== 4]
ida_x_test_df = X_test_df[X_test_df.label==4]
combined_ida_test_df = pd.concat([ida_test_df, ida_x_test_df], axis=1)
combined_ida_test_df.head()

In [ ]:
combined_ida_test_df.y_pred.value_counts()

In [ ]:
misdiag_ida_df = combined_ida_test_df[combined_ida_test_df.y_pred != combined_ida_test_df.y_actual]
misdiag_ida_df.head()

In [ ]:
misdiag_ida_df[misdiag_ida_df.y_pred==3].describe()['ferritin']

#### 5 - Hemolytic anemia

In [ ]:
hem_test_df = test_df[test_df.y_actual== 5]
hem_x_test_df = X_test_df[X_test_df.label==5]
combined_hem_test_df = pd.concat([hem_test_df, hem_x_test_df], axis=1)
combined_hem_test_df.head()

In [ ]:
combined_hem_test_df.y_pred.value_counts()

In [ ]:
misdiag_hem_df = combined_hem_test_df[combined_hem_test_df.y_pred != combined_hem_test_df.y_actual]
misdiag_hem_df.head()

In [ ]:
cols=['trajectory', 'y_actual', 'y_pred', 'hemoglobin', 'mcv', 'ret_count', 'segmented_neutrophils', 'tibc']
misdiag_hem_df[misdiag_hem_df.y_pred==6].describe()['ret_count']

#### 7 - Inconclusive diagnosis

In [ ]:
inconc_test_df = test_df[test_df.y_actual== 7]
inconc_x_test_df = X_test_df[X_test_df.label==7]
combined_inconc_test_df = pd.concat([inconc_test_df, inconc_x_test_df], axis=1)
combined_inconc_test_df.head()

In [ ]:
combined_inconc_test_df.y_pred.value_counts()

In [ ]:
misdiag_inconc_df = combined_inconc_test_df[combined_inconc_test_df.y_pred != combined_inconc_test_df.y_actual]
misdiag_inconc_df.head()

In [ ]:
misdiag_inconc_df[misdiag_inconc_df.y_pred==3][cols]#.describe()['segmented_neutrophils']