In [13]:
import pandas as pd
import numpy as np
import ast
import random
import os
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)

#### X test df

In [15]:
df = pd.read_csv('../../data/more_features/more_feats_new_labels_0.1.csv')
df = df.fillna(-1)
class_dict = constants.CLASS_DICT
df['label'] = df['label'].replace(class_dict)
X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
X_test_df = pd.concat([X_test, y_test], axis=1)
X_test_df = X_test_df.reset_index(drop=True)
X_test_df.head()

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\__init__.py:806: DeprecationWarning:

`np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\__init__.py:806: DeprecationWarning:

`np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,age,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
0,11.391136,-1.000000,1.504298,5.058881,467.197112,96.252926,217.860499,4.449317,27.256938,1,2.820078,264.090378,-1.000000,36.703810,122.310168,49.897027,20.353251,-1.000000,6
1,10.355048,272.506966,-1.000000,0.000000,128.706486,101.912313,-1.000000,3.327859,56.506933,1,1.050653,-1.000000,-1.000000,-1.000000,-1.000000,29.327349,-1.000000,-1.000000,2
2,11.159385,-1.000000,-1.000000,0.000000,-1.000000,103.395616,77.212369,2.923928,71.588966,0,2.247065,239.492164,-1.000000,8.690122,65.554731,19.167967,7.239049,-1.000000,2
3,8.179735,140.876632,5.484515,-1.000000,303.740826,99.877458,155.573175,3.247600,67.857728,0,2.611146,240.483163,-1.000000,41.123526,119.433840,39.384848,6.394235,-1.000000,5
4,9.916825,-1.000000,3.909810,-1.000000,-1.000000,90.543986,189.347916,4.132256,48.868505,0,0.366013,380.569620,1.501433,34.905667,59.177001,58.538524,22.843594,139.245204,5

#### The test df

In [16]:
test_df = pd.read_csv('../../test_dfs/many_features/0.1/test_df3_6500000.csv')
test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,4.0,0.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",6.0,6.0
1,4.0,1.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0
2,4.0,2.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0
3,10.0,3.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",5.0,7.0
4,4.0,4.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",5.0,5.0

In [17]:
len(X_test_df), len(test_df)

(14000, 14000)

In [18]:
a1 = np.array(test_df['y_actual'], dtype=np.float32)
a2 = np.array(X_test_df['label'], dtype=np.float32)
assert np.array_equal(a1, a2)

#### 0 - No anemia

In [19]:
no_test_df = test_df[test_df.y_actual== 0]
no_x_test_df = X_test_df[X_test_df.label==0]
combined_no_test_df = pd.concat([no_test_df, no_x_test_df], axis=1)
combined_no_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
6,3.0,6.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",0.0,0.0,12.705878,466.949486,...,0,2.277482,282.593900,-1.000000,15.216632,54.333997,9.541122,13.394647,-1.000000,0
12,2.0,12.0,1.0,1.0,0.0,"['hemoglobin', 'No anemia']",0.0,0.0,14.015774,-1.000000,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0
14,2.0,14.0,1.0,1.0,0.0,"['hemoglobin', 'No anemia']",0.0,0.0,13.116419,-1.000000,...,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0
17,2.0,17.0,1.0,1.0,0.0,"['hemoglobin', 'No anemia']",0.0,0.0,16.980507,239.806877,...,1,2.337933,361.990906,1.432289,46.354935,67.460446,47.054099,24.324662,98.555978,0
21,3.0,21.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",0.0,0.0,12.229142,224.718388,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0

In [20]:
combined_no_test_df.y_pred.value_counts()

0.0    2000
Name: y_pred, dtype: int64

In [21]:
combined_no_test_df[combined_no_test_df.y_pred != combined_no_test_df.y_actual]

Empty DataFrame
Columns: [episode_length, index, is_success, reward, terminated, trajectory, y_actual, y_pred, hemoglobin, ferritin, ret_count, segmented_neutrophils, tibc, mcv, serum_iron, rbc, age, gender, indirect_bilirubin, transferrin, creatinine, cholestrol, copper, ethanol, folate, glucose, label]
Index: []

[0 rows x 27 columns]

#### 1 - Vitamin b12

In [22]:
vit_test_df = test_df[test_df.y_actual== 1]
vit_x_test_df = X_test_df[X_test_df.label==1]
combined_vit_test_df = pd.concat([vit_test_df, vit_x_test_df], axis=1)
combined_vit_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
15,5.0,15.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'mcv', 'segmented_neu...",1.0,1.0,12.317586,258.583177,...,1,2.439593,186.023490,-1.000000,129.701870,98.960747,73.848869,2.476396,-1.000000,1
25,4.0,25.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0,10.549702,-1.000000,...,0,1.201740,-1.000000,-1.000000,-1.000000,-1.000000,76.999349,-1.000000,-1.000000,1
29,4.0,29.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0,8.513382,63.670459,...,1,2.869224,-1.000000,-1.000000,-1.000000,-1.000000,10.907405,-1.000000,-1.000000,1
30,5.0,30.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'mcv', 'segmented_neu...",1.0,1.0,12.749833,199.961561,...,1,0.880097,-1.000000,-1.000000,-1.000000,-1.000000,4.610539,-1.000000,-1.000000,1
33,4.0,33.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",1.0,1.0,11.068506,3.952179,...,0,0.096384,320.348309,1.703951,120.079339,108.801489,75.748430,8.198632,106.618531,1

In [23]:
combined_vit_test_df.y_pred.value_counts()

1.0    1754
0.0      40
2.0       6
Name: y_pred, dtype: int64

In [24]:
misdiag_vit_df = combined_vit_test_df[combined_vit_test_df.y_pred != combined_vit_test_df.y_actual]
misdiag_vit_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
635,2.0,635.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",1.0,0.0,12.960439,-1.000000,...,1,2.487154,265.808765,-1.0,102.305184,34.759917,49.837292,7.128119,93.468093,1
645,2.0,645.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",1.0,0.0,12.947126,420.252699,...,1,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1
653,2.0,653.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",1.0,0.0,12.975621,-1.000000,...,1,2.956400,286.179346,-1.0,71.480020,50.116842,26.562941,17.059074,-1.000000,1
870,2.0,870.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",1.0,0.0,12.989386,0.137598,...,1,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1
1597,2.0,1597.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",1.0,0.0,12.913127,81.434451,...,1,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1

In [35]:
misdiag_vit_df[misdiag_vit_df.y_pred==2].describe()['segmented_neutrophils']

count    6.000000
mean     0.117448
std      0.008056
min      0.109190
25%      0.111956
50%      0.117823
75%      0.118116
max      0.131636
Name: segmented_neutrophils, dtype: float64

#### 2 - Unspecified anemia

In [40]:
unspec_test_df = test_df[test_df.y_actual== 2]
unspec_x_test_df = X_test_df[X_test_df.label==2]
combined_unspec_test_df = pd.concat([unspec_test_df, unspec_x_test_df], axis=1)
combined_unspec_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
1,4.0,1.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0,10.355048,272.506966,...,1,1.050653,-1.000000,-1.000000,-1.000000,-1.000000,29.327349,-1.000000,-1.000000,2
2,4.0,2.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0,11.159385,-1.000000,...,0,2.247065,239.492164,-1.000000,8.690122,65.554731,19.167967,7.239049,-1.000000,2
13,4.0,13.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0,7.072613,-1.000000,...,1,-1.000000,303.703510,1.949093,48.359508,32.509684,-1.000000,25.465037,-1.000000,2
24,4.0,24.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0,11.053152,-1.000000,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2
42,4.0,42.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",2.0,2.0,6.485627,-1.000000,...,1,-1.000000,202.887790,0.619290,86.723720,45.400427,-1.000000,20.661100,107.563644,2

In [41]:
combined_unspec_test_df.y_pred.value_counts()

2.0    1770
0.0      37
Name: y_pred, dtype: int64

In [42]:
misdiag_unspec_df = combined_unspec_test_df[combined_unspec_test_df.y_pred != combined_unspec_test_df.y_actual]
misdiag_unspec_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
531,2.0,531.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",2.0,0.0,12.952408,78.602573,...,1,2.295028,399.381364,-1.000000,11.690421,34.345881,8.719448,3.026243,-1.000000,2
1312,3.0,1312.0,0.0,-1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",2.0,0.0,11.921369,-1.000000,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2
1451,2.0,1451.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",2.0,0.0,12.911880,47.885198,...,1,0.368746,302.432784,1.320759,111.560195,65.243775,25.849535,19.541908,138.300463,2
1498,2.0,1498.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",2.0,0.0,12.987361,-1.000000,...,1,-1.000000,174.673276,1.334324,100.472705,70.914377,-1.000000,17.906484,103.415844,2
1816,3.0,1816.0,0.0,-1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",2.0,0.0,11.948721,348.463256,...,0,0.440719,159.091197,1.904594,111.284276,107.325955,77.453671,12.146033,-1.000000,2

In [44]:
misdiag_unspec_df[(misdiag_unspec_df.y_pred==0) & (misdiag_unspec_df.gender==1)].describe()['hemoglobin']

count    24.000000
mean     12.955179
std       0.031231
min      12.899663
25%      12.929845
50%      12.962044
75%      12.979710
max      12.998757
Name: hemoglobin, dtype: float64

#### 3 - Anemia of chronic disease

In [45]:
acd_test_df = test_df[test_df.y_actual== 3]
acd_x_test_df = X_test_df[X_test_df.label==3]
combined_acd_test_df = pd.concat([acd_test_df, acd_x_test_df], axis=1)
combined_acd_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
10,4.0,10.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,7.524126,-1.000000,...,0,-1.000000,248.494191,1.045661,2.969448,81.203661,-1.000000,12.533430,88.951873,3
28,4.0,28.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,10.406249,252.559558,...,1,-1.000000,297.444190,1.268623,57.160148,94.192545,-1.000000,23.593935,63.199066,3
37,4.0,37.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,6.702709,108.376181,...,0,0.122290,412.669467,-1.000000,13.115453,116.374708,71.812986,23.539670,-1.000000,3
47,4.0,47.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,7.698529,474.944412,...,1,0.804432,-1.000000,-1.000000,-1.000000,-1.000000,10.180058,-1.000000,-1.000000,3
61,4.0,61.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",3.0,3.0,6.885305,-1.000000,...,0,1.287412,192.984492,0.929479,66.668084,117.051851,48.305638,25.341432,113.589985,3

In [46]:
combined_acd_test_df.y_pred.value_counts()

3.0    1737
7.0     136
0.0      47
4.0      31
Name: y_pred, dtype: int64

In [47]:
misdiag_acd_df = combined_acd_test_df[combined_acd_test_df.y_pred != combined_acd_test_df.y_actual]
misdiag_acd_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
95,2.0,95.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",3.0,0.0,12.955256,468.272449,...,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3
138,10.0,138.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'tibc', 'tibc', 'tibc', ...",3.0,7.0,11.238644,327.687083,...,0,2.019479,383.631198,1.915884,77.287296,45.173135,63.997943,14.314223,98.159105,3
140,10.0,140.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'tibc', 'tibc', 'tibc', ...",3.0,7.0,6.260199,397.645599,...,0,0.813477,312.393833,-1.000000,48.674998,128.779530,63.832323,21.538620,-1.000000,3
516,3.0,516.0,0.0,-1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",3.0,0.0,11.959711,296.111938,...,0,2.359657,-1.000000,-1.000000,-1.000000,-1.000000,28.767592,-1.000000,-1.000000,3
607,4.0,607.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Iron deficiency...",3.0,4.0,6.966718,36.770384,...,1,2.814430,-1.000000,-1.000000,-1.000000,-1.000000,65.793476,-1.000000,-1.000000,3

In [53]:
misdiag_acd_df[misdiag_acd_df.y_pred==4].describe()['ferritin']

count     31.000000
mean     213.419468
std      168.569301
min       -1.000000
25%       81.038926
50%      165.180969
75%      359.845281
max      497.420258
Name: ferritin, dtype: float64

#### 4 - Iron deficiency anemia

In [55]:
ida_test_df = test_df[test_df.y_actual== 4]
ida_x_test_df = X_test_df[X_test_df.label==4]
combined_ida_test_df = pd.concat([ida_test_df, ida_x_test_df], axis=1)
combined_ida_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
8,4.0,8.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Iron deficiency...",4.0,4.0,9.649628,76.865010,...,0,1.147711,-1.000000,-1.000000,-1.000000,-1.000000,77.598698,-1.000000,-1.00000,4
16,5.0,16.0,1.0,1.0,0.0,"['hemoglobin', 'gender', 'mcv', 'tibc', 'Iron ...",4.0,4.0,12.746640,64.596245,...,1,0.528785,-1.000000,-1.000000,-1.000000,-1.000000,77.088614,-1.000000,-1.00000,4
23,5.0,23.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'gender', 'Iron ...",4.0,4.0,6.964118,67.380321,...,0,1.448847,340.043175,0.544928,145.032636,112.452592,43.358633,19.646481,-1.00000,4
31,5.0,31.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'gender', 'Iron ...",4.0,4.0,7.548572,25.782105,...,0,1.591781,429.105775,0.322732,25.722922,102.130339,63.257489,27.905344,79.59152,4
41,5.0,41.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'gender', 'Iron ...",4.0,4.0,8.410578,61.028166,...,1,2.486655,-1.000000,1.273800,-1.000000,-1.000000,18.463426,-1.000000,-1.00000,4

In [56]:
combined_ida_test_df.y_pred.value_counts()

4.0    1743
7.0      52
0.0      37
3.0      21
Name: y_pred, dtype: int64

In [57]:
misdiag_ida_df = combined_ida_test_df[combined_ida_test_df.y_pred != combined_ida_test_df.y_actual]
misdiag_ida_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
92,10.0,92.0,0.0,-6.0,1.0,"['hemoglobin', 'gender', 'mcv', 'tibc', 'tibc'...",4.0,7.0,12.682066,10.036047,...,1,1.357600,314.495897,-1.000000,140.806106,45.871527,69.429454,9.160569,-1.0,4
327,10.0,327.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'tibc', 'tibc', 'tibc', ...",4.0,7.0,6.725728,20.997711,...,0,1.378126,350.563105,-1.000000,117.269429,120.992836,40.557001,21.748409,-1.0,4
440,2.0,440.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",4.0,0.0,12.995437,-1.000000,...,1,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,4
504,10.0,504.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'tibc', 'tibc', 'tibc', ...",4.0,7.0,7.952590,5.278765,...,0,2.217329,218.068644,1.316563,100.542333,70.072517,4.678388,13.297956,-1.0,4
574,2.0,574.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",4.0,0.0,12.990485,-1.000000,...,1,1.262549,319.797056,1.454172,33.366838,80.976402,35.814798,1.068443,-1.0,4

In [65]:
misdiag_ida_df[misdiag_ida_df.y_pred==3].describe()['ferritin']

count    21.000000
mean     42.781397
std      31.197888
min      -1.000000
25%      15.864049
50%      41.274207
75%      71.828703
max      94.740096
Name: ferritin, dtype: float64

#### 5 - Hemolytic anemia

In [66]:
hem_test_df = test_df[test_df.y_actual== 5]
hem_x_test_df = X_test_df[X_test_df.label==5]
combined_hem_test_df = pd.concat([hem_test_df, hem_x_test_df], axis=1)
combined_hem_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
3,10.0,3.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",5.0,7.0,8.179735,140.876632,...,0,2.611146,240.483163,-1.000000,41.123526,119.433840,39.384848,6.394235,-1.000000,5
4,4.0,4.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",5.0,5.0,9.916825,-1.000000,...,0,0.366013,380.569620,1.501433,34.905667,59.177001,58.538524,22.843594,139.245204,5
7,4.0,7.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",5.0,5.0,9.170892,-1.000000,...,0,0.256100,279.207893,0.887628,137.161446,57.501898,14.628888,18.963912,-1.000000,5
20,4.0,20.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",5.0,5.0,6.713676,182.992976,...,0,1.974880,168.092594,0.976512,123.572402,115.091996,77.437026,27.174828,60.655513,5
26,4.0,26.0,1.0,1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Hemolytic ...",5.0,5.0,6.036641,-1.000000,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,5

In [67]:
combined_hem_test_df.y_pred.value_counts()

5.0    1571
7.0      98
0.0      42
1.0      30
3.0      25
6.0      23
4.0       3
2.0       3
Name: y_pred, dtype: int64

In [68]:
misdiag_hem_df = combined_hem_test_df[combined_hem_test_df.y_pred != combined_hem_test_df.y_actual]
misdiag_hem_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
3,10.0,3.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",5.0,7.0,8.179735,140.876632,...,0,2.611146,240.483163,-1.000000,41.123526,119.433840,39.384848,6.394235,-1.00000,5
36,4.0,36.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'ret_count', 'Aplastic a...",5.0,6.0,10.445291,-1.000000,...,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,5
123,10.0,123.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",5.0,7.0,9.239713,-1.000000,...,0,0.751588,262.995970,1.217293,92.395193,61.875482,45.406923,23.405829,62.48553,5
152,3.0,152.0,0.0,-1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",5.0,0.0,11.987628,-1.000000,...,0,0.309721,267.331116,-1.000000,99.961461,68.513306,21.017428,8.506772,-1.00000,5
159,10.0,159.0,0.0,-7.0,1.0,"['hemoglobin', 'mcv', 'tibc', 'tibc', 'tibc', ...",5.0,7.0,9.387371,-1.000000,...,1,-1.000000,404.827465,0.302836,5.903959,106.339055,-1.000000,0.830222,-1.00000,5

In [87]:
cols=['trajectory', 'y_actual', 'y_pred', 'hemoglobin', 'mcv', 'ret_count', 'segmented_neutrophils', 'tibc']
misdiag_hem_df[misdiag_hem_df.y_pred==6].describe()['ret_count']

count    23.000000
mean      2.150958
std       0.046227
min       2.101189
25%       2.119158
50%       2.136705
75%       2.179074
max       2.295422
Name: ret_count, dtype: float64

#### 7 - Inconclusive diagnosis

In [88]:
inconc_test_df = test_df[test_df.y_actual== 7]
inconc_x_test_df = X_test_df[X_test_df.label==7]
combined_inconc_test_df = pd.concat([inconc_test_df, inconc_x_test_df], axis=1)
combined_inconc_test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
11,10.0,11.0,1.0,-7.0,1.0,"['hemoglobin', 'mcv', 'ret_count', 'ret_count'...",7.0,7.0,10.572045,347.481191,...,0,2.702566,377.202143,0.254955,1.306704,119.720941,55.887172,8.307956,-1.000000,7
18,10.0,18.0,1.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",7.0,7.0,6.416003,325.383609,...,1,1.905568,233.992876,1.968920,124.979044,68.870187,74.509146,29.803397,48.798621,7
19,10.0,19.0,1.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",7.0,7.0,9.271133,-1.000000,...,1,2.721439,355.873744,-1.000000,110.163841,79.979077,27.280392,6.630989,-1.000000,7
22,10.0,22.0,1.0,-7.0,1.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",7.0,7.0,11.638591,-1.000000,...,1,0.787806,210.742623,1.253306,80.521171,84.958320,67.272937,4.244655,-1.000000,7
35,10.0,35.0,1.0,-7.0,1.0,"['hemoglobin', 'mcv', 'ret_count', 'ret_count'...",7.0,7.0,11.106773,-1.000000,...,0,2.439764,-1.000000,-1.000000,-1.000000,-1.000000,51.980988,-1.000000,-1.000000,7

In [89]:
combined_inconc_test_df.y_pred.value_counts()

7.0    952
0.0     20
1.0     12
3.0      6
Name: y_pred, dtype: int64

In [90]:
misdiag_inconc_df = combined_inconc_test_df[combined_inconc_test_df.y_pred != combined_inconc_test_df.y_actual]
misdiag_inconc_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred,hemoglobin,ferritin,...,gender,indirect_bilirubin,transferrin,creatinine,cholestrol,copper,ethanol,folate,glucose,label
204,3.0,204.0,0.0,-1.0,0.0,"['hemoglobin', 'gender', 'No anemia']",7.0,0.0,11.951373,-1.000000,...,0,-1.000000,-1.000000,1.415140,-1.000000,-1.000000,-1.000000,-1.000000,136.137626,7
434,4.0,434.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",7.0,1.0,10.956225,249.637263,...,1,-1.000000,444.000964,0.559920,20.466420,80.255700,-1.000000,19.024531,-1.000000,7
1237,4.0,1237.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'segmented_neutrophils',...",7.0,1.0,9.126974,-1.000000,...,1,0.071054,417.558056,-1.000000,20.719184,108.730246,70.882659,17.811368,-1.000000,7
1245,4.0,1245.0,0.0,-1.0,0.0,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",7.0,3.0,7.296422,-1.000000,...,0,-1.000000,360.840839,0.696079,28.770864,127.075230,-1.000000,6.721526,49.378015,7
1333,2.0,1333.0,0.0,-1.0,0.0,"['hemoglobin', 'No anemia']",7.0,0.0,12.961024,340.836072,...,1,1.711668,403.629415,-1.000000,70.116375,55.889644,52.341892,19.395947,-1.000000,7

In [96]:
misdiag_inconc_df[misdiag_inconc_df.y_pred==3][cols]#.describe()['segmented_neutrophils']

,trajectory,y_actual,y_pred,hemoglobin,mcv,ret_count,segmented_neutrophils,tibc
1245,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",7.0,3.0,7.296422,80.290158,-1.0,1.308962,100.900355
3836,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",7.0,3.0,8.109296,80.027613,-1.0,4.297238,292.529766
6378,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",7.0,3.0,10.147668,80.439774,-1.0,0.404384,205.986685
6572,"['hemoglobin', 'mcv', 'tibc', 'gender', 'Anemi...",7.0,3.0,10.054076,80.149178,-1.0,2.923268,328.885505
10440,"['hemoglobin', 'mcv', 'tibc', 'gender', 'Anemi...",7.0,3.0,7.002252,80.235535,-1.0,-1.000000,330.429377
13845,"['hemoglobin', 'mcv', 'tibc', 'Anemia of chron...",7.0,3.0,6.091480,80.101358,-1.0,4.028344,201.429035