In [3]:
import pandas as pd
import numpy as np

In [4]:
test_df = pd.read_csv('../../../anemia_ml4hc/test_dfs/dueling_dqn_pr_test_df_seed_63_10000000.csv')
test_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,0.0,5.0,1.0,5.0,5.0,"['hemoglobin', 'gender', 'rbc', 'ret_count', '...",0.0,1.0
1,1.0,6.0,1.0,1.0,1.0,"['hemoglobin', 'gender', 'rbc', 'mcv', 'segmen...",0.0,1.0
2,2.0,8.0,1.0,4.0,4.0,"['hemoglobin', 'rbc', 'mcv', 'ferritin', 'hema...",0.0,1.0
3,3.0,2.0,1.0,0.0,0.0,"['hemoglobin', 'No anemia']",0.0,1.0
4,4.0,6.0,-1.0,7.0,7.0,"['hemoglobin', 'gender', 'rbc', 'mcv', 'segmen...",1.0,1.0

In [5]:
testing_df = pd.read_csv('../../final/data/test_set_constant.csv')
testing_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

#### Hemolytic anemia

In [9]:
anem_class = 1

In [10]:
test_df[test_df.y_pred==anem_class].trajectory.value_counts()

['hemoglobin', 'rbc', 'segmented_neutrophils', 'mcv', 'Vitamin B12/Folate deficiency anemia']                                     785
['hemoglobin', 'gender', 'rbc', 'segmented_neutrophils', 'mcv', 'Vitamin B12/Folate deficiency anemia']                           719
['hemoglobin', 'gender', 'rbc', 'mcv', 'segmented_neutrophils', 'Vitamin B12/Folate deficiency anemia']                           271
['hemoglobin', 'rbc', 'segmented_neutrophils', 'gender', 'mcv', 'Vitamin B12/Folate deficiency anemia']                            48
['hemoglobin', 'rbc', 'segmented_neutrophils', 'Vitamin B12/Folate deficiency anemia']                                              9
['hemoglobin', 'gender', 'rbc', 'segmented_neutrophils', 'Vitamin B12/Folate deficiency anemia']                                    8
['hemoglobin', 'rbc', 'segmented_neutrophils', 'mcv', 'cholestrol', 'Vitamin B12/Folate deficiency anemia']                         4
['hemoglobin', 'gender', 'rbc', 'segmented_neutrophils', 'mcv', 'cholestrol', 'Vitamin B12/Folate deficiency anemia']               2
['hemoglobin', 'gender', 'rbc', 'mcv', 'segmented_neutrophils', 'cholestrol', 'Vitamin B12/Folate deficiency anemia']               1
['hemoglobin', 'gender', 'rbc', 'segmented_neutrophils', 'ret_count', 'folate', 'mcv', 'Vitamin B12/Folate deficiency anemia']      1
Name: trajectory, dtype: int64

In [11]:
# trajectory = "['hemoglobin', 'gender', 'rbc', 'ret_count', 'segmented_neutrophils', 'Hemolytic anemia']"
path = "hemoglobin', 'rbc"
path
# trajectory = "['hemoglobin', 'No anemia']"

"hemoglobin', 'rbc"

#### delete from here

In [12]:
anem_test_df = test_df[(test_df.y_pred == anem_class)]# & (test_df.trajectory==trajectory)]
# anem_testing_df = testing_df.loc[anem_test_df.index]
# assert((anem_test_df['y_actual'] == anem_testing_df['label']).all())

In [13]:
anem_test_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
1,1.0,6.0,1.0,1.0,1.0,"['hemoglobin', 'gender', 'rbc', 'mcv', 'segmen...",0.0,1.0
6,6.0,5.0,1.0,1.0,1.0,"['hemoglobin', 'rbc', 'segmented_neutrophils',...",0.0,1.0
8,8.0,5.0,1.0,1.0,1.0,"['hemoglobin', 'rbc', 'segmented_neutrophils',...",0.0,1.0
28,28.0,6.0,1.0,1.0,1.0,"['hemoglobin', 'gender', 'rbc', 'segmented_neu...",0.0,1.0
34,34.0,6.0,1.0,1.0,1.0,"['hemoglobin', 'rbc', 'segmented_neutrophils',...",0.0,1.0

In [14]:
len(anem_test_df)

1848

In [15]:
type(anem_test_df.iloc[0]['trajectory'])

str

In [11]:
path_test_df = anem_test_df[anem_test_df['trajectory'].str.contains(path, case=False)]
path_test_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
35,35.0,4.0,-1.0,7.0,7.0,"['hemoglobin', 'rbc', 'segmented_neutrophils',...",1.0,1.0
38,38.0,4.0,-1.0,7.0,7.0,"['hemoglobin', 'rbc', 'ferritin', 'Inconclusiv...",1.0,1.0
45,45.0,4.0,-1.0,7.0,7.0,"['hemoglobin', 'rbc', 'segmented_neutrophils',...",1.0,1.0
79,79.0,5.0,-1.0,7.0,7.0,"['hemoglobin', 'rbc', 'ferritin', 'tibc', 'Inc...",1.0,1.0
128,128.0,5.0,-1.0,7.0,7.0,"['hemoglobin', 'rbc', 'ferritin', 'tibc', 'Inc...",1.0,1.0

In [12]:
len(anem_test_df), len(path_test_df)

(1401, 668)

In [13]:
path_testing_df = testing_df.loc[path_test_df.index]
assert((path_test_df['y_actual'] == path_testing_df['label']).all())

In [14]:
path_testing_df.hemoglobin.describe()

count    668.000000
mean       9.710148
std        1.094646
min        6.001396
25%        9.016796
50%        9.843715
75%       10.579994
max       11.307787
Name: hemoglobin, dtype: float64

In [15]:
#### end here

In [16]:
def get_pathway_thresholds(anem_class, trajectory, feat):
    anem_path_test_df = test_df[(test_df.y_pred == anem_class) & (test_df.trajectory==trajectory)]
    anem_path_testing_df = testing_df.loc[anem_path_test_df.index]
    assert((anem_path_test_df['y_actual'] == anem_path_testing_df['label']).all())
    
    return anem_path_testing_df[feat].describe()

In [17]:
# get_pathway_thresholds(anem_class, trajectory, 'segmented_neutrophils')

#### The function