In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import random
import os
import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [32]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

#### The Data

In [33]:
# df = pd.read_csv('../../data/more_features/more_feats_correlated_testing_noanem_noisy_6.csv')
# df = df.fillna(-1)
# df.head()
train_df = pd.read_csv('../../final/data/train_set_missing_3.csv')
train_df = train_df.fillna(-1)
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,9.007012,-1.000000,-1.000000,3.519565,440.499323,103.442762,59.017997,2.612173,1,0.650757,114.794964,112.308159,-1.000000,5.969710,116.026042,-1.000000,13.397977,1
1,8.760976,-1.000000,-1.000000,-1.000000,259.895852,103.885481,-1.000000,2.529991,0,0.728641,74.824352,-1.000000,-1.000000,-1.000000,-1.000000,26.282929,-1.000000,7
2,7.490324,70.812609,-1.000000,-1.000000,482.109919,79.543391,-1.000000,2.824995,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4
3,8.113370,499.313483,3.507612,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,1,-1.000000,9.120947,41.131511,1.843890,18.845473,106.199806,-1.000000,-1.000000,2
4,13.935301,349.569415,-1.000000,-1.000000,489.595939,-1.000000,-1.000000,-1.000000,1,0.216907,-1.000000,92.547095,19.815123,29.543875,98.388710,41.805903,30.655044,0

In [34]:
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [35]:
X_train = train_df.iloc[:, 0:-1]
y_train = train_df.iloc[:, -1]

X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((56000, 17), (14000, 17), (56000,), (14000,))

In [36]:
action_list = list(constants.CLASS_DICT.keys()) + [col  for col in train_df.columns if col!='label']
action_list

['No anemia',
 'Vitamin B12/Folate deficiency anemia',
 'Unspecified anemia',
 'Anemia of chronic disease',
 'Iron deficiency anemia',
 'Hemolytic anemia',
 'Aplastic anemia',
 'Inconclusive diagnosis',
 'hemoglobin',
 'ferritin',
 'ret_count',
 'segmented_neutrophils',
 'tibc',
 'mcv',
 'serum_iron',
 'rbc',
 'gender',
 'creatinine',
 'cholestrol',
 'copper',
 'ethanol',
 'folate',
 'glucose',
 'hematocrit',
 'tsat']

#### Training

In [ ]:
for steps in [int(6.5e6), int(7e6), int(7.5e6), int(8e6), int(8.5e6), int(9e6)]:
    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/dqn_missing_3_{steps}')

using stable baselines 3
Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.08     |
|    ep_rew_mean      | -0.9     |
|    exploration_rate | 0.571    |
|    success_rate     | 0.09     |
| time/               |          |
|    episodes         | 100000   |
|    fps              | 966      |
|    time_elapsed     | 303      |
|    total_timesteps  | 293481   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 4        |
|    n_updates        | 60870    |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.04     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.119    |
|    success_rate     | 0.05     |
| time/               |          |
|    episodes         | 200000   |
|    fps              | 812      |
|    time_elapsed     | 741      |
|    total_timesteps  | 602496   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 8.44     |
|    n_updates        | 138123   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.31     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.05     |
|    success_rate     | 0.05     |
| time/               |          |
|    episodes         | 300000   |
|    fps              | 746      |
|    time_elapsed     | 1217     |
|    total_timesteps  | 908313   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 9.69     |
|    n_updates        | 214578   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 2.56     |
|    ep_rew_mean      | -0.98    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.07     |
| time/               |          |
|    episodes         | 400000   |
|    fps              | 718      |
|    time_elapsed     | 1657     |
|    total_timesteps  | 1190975  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 7.25     |
|    n_updates        | 285243   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 2.97     |
|    ep_rew_mean      | -0.98    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.03     |
| time/               |          |
|    episodes         | 500000   |
|    fps              | 700      |
|    time_elapsed     | 2120     |
|    total_timesteps  | 1485203  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.969    |
|    n_updates        | 358800   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.16     |
|    ep_rew_mean      | -0.7     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.16     |
| time/               |          |
|    episodes         | 600000   |
|    fps              | 685      |
|    time_elapsed     | 2619     |
|    total_timesteps  | 1796612  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0107   |
|    n_updates        | 436652   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.33     |
|    ep_rew_mean      | -0.56    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.36     |
| time/               |          |
|    episodes         | 700000   |
|    fps              | 647      |
|    time_elapsed     | 3277     |
|    total_timesteps  | 2123001  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0657   |
|    n_updates        | 518250   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.15     |
|    ep_rew_mean      | -0.48    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.29     |
| time/               |          |
|    episodes         | 800000   |
|    fps              | 609      |
|    time_elapsed     | 4052     |
|    total_timesteps  | 2469036  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.163    |
|    n_updates        | 604758   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.89     |
|    ep_rew_mean      | -0.46    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.38     |
| time/               |          |
|    episodes         | 900000   |
|    fps              | 580      |
|    time_elapsed     | 4839     |
|    total_timesteps  | 2810700  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.125    |
|    n_updates        | 690174   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.8      |
|    ep_rew_mean      | -0.5     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.31     |
| time/               |          |
|    episodes         | 1000000  |
|    fps              | 565      |
|    time_elapsed     | 5597     |
|    total_timesteps  | 3166661  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0605   |
|    n_updates        | 779165   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.5      |
|    ep_rew_mean      | -0.4     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.36     |
| time/               |          |
|    episodes         | 1100000  |
|    fps              | 554      |
|    time_elapsed     | 6361     |
|    total_timesteps  | 3525356  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.124    |
|    n_updates        | 868838   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.34     |
|    ep_rew_mean      | -0.38    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.35     |
| time/               |          |
|    episodes         | 1200000  |
|    fps              | 543      |
|    time_elapsed     | 7129     |
|    total_timesteps  | 3873245  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0872   |
|    n_updates        | 955811   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.83     |
|    ep_rew_mean      | -0.48    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.34     |
| time/               |          |
|    episodes         | 1300000  |
|    fps              | 541      |
|    time_elapsed     | 7792     |
|    total_timesteps  | 4216157  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0768   |
|    n_updates        | 1041539  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.84     |
|    ep_rew_mean      | -0.56    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.28     |
| time/               |          |
|    episodes         | 1400000  |
|    fps              | 538      |
|    time_elapsed     | 8479     |
|    total_timesteps  | 4564736  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.105    |
|    n_updates        | 1128683  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 2.89     |
|    ep_rew_mean      | -0.58    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.24     |
| time/               |          |
|    episodes         | 1500000  |
|    fps              | 537      |
|    time_elapsed     | 9131     |
|    total_timesteps  | 4906806  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.176    |
|    n_updates        | 1214201  |
----------------------------------

----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.61     |
|    ep_rew_mean      | -0.36    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.4      |
| time/               |          |
|    episodes         | 1600000  |
|    fps              | 532      |
|    time_elapsed     | 9858     |
|    total_timesteps  | 5251938  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.063    |
|    n_updates        | 1300484  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.1      |
|    ep_rew_mean      | -0.54    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.3      |
| time/               |          |
|    episodes         | 1700000  |
|    fps              | 526      |
|    time_elapsed     | 10647    |
|    total_timesteps  | 5603628  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0864   |
|    n_updates        | 1388406  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.21     |
|    ep_rew_mean      | -0.38    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.38     |
| time/               |          |
|    episodes         | 1800000  |
|    fps              | 522      |
|    time_elapsed     | 11391    |
|    total_timesteps  | 5951046  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.143    |
|    n_updates        | 1475261  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.64     |
|    ep_rew_mean      | -0.52    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.36     |
| time/               |          |
|    episodes         | 1900000  |
|    fps              | 518      |
|    time_elapsed     | 12140    |
|    total_timesteps  | 6293572  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.098    |
|    n_updates        | 1560892  |
----------------------------------
using stable baselines 3
Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.26     |
|    ep_rew_mean      | -0.94    |
|    exploration_rate | 0.602    |
|    success_rate     | 0.07     |
| time/               |          |
|    episodes         | 100000   |
|    fps              | 775      |
|    time_elapsed     | 378      |
|    total_timesteps  | 293217   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 3.61     |
|    n_updates        | 60804    |
----------------------------------

In [ ]:
# class_dict = constants.CLASS_DICT
# df['label'] = df['label'].replace(class_dict)
# X = df.iloc[:, 0:-1]
# y = df.iloc[:, -1]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_test, y_test = np.array(X_test), np.array(y_test)
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# %%time
# timesteps = int(2e6)
# dqn_model = utils.stable_dqn3(X_train, y_train, timesteps, True, f'../../models/many_features/stable_dqn3_{timesteps}')
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

#### Testing

In [ ]:
# training_env = utils.create_env(X_train, y_train)
# dqn_model = utils.load_dqn3('../../models/many_features/0.1/with_correlated_fts/dqn3_by_type_noisy_6_16000000', training_env)
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

In [ ]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

In [ ]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

In [ ]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

In [ ]:
test_df.y_pred.unique()

In [ ]:
test_df[test_df.y_pred==4]

#### Saving files

In [ ]:
# test_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/test_df3_9000000.csv', index=False)
# success_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/success_df3_9000000.csv', index=False)

#### Confusion matrix and classification report

In [ ]:
test_df = pd.read_csv('../../test_dfs/many_features/0.1/test_df3_6500000.csv')
test_df.head()

In [ ]:
utils.plot_classification_report(test_df['y_actual'], test_df['y_pred'])

In [ ]:
# def plot_confusion_matrix(y_actual, y_pred, save=False, filename=False):
#     from sklearn.metrics import confusion_matrix
#     cm = confusion_matrix(y_actual, y_pred)
#     cm_df = pd.DataFrame(cm, index = [0, 1, 2, 3, 4, 5, 6], columns = [0, 1, 2, 3, 4, 5, 6], dtype='object')
#     #cm_df = pd.DataFrame(cm, index = constants.CLASS_DICT.keys(), columns = constants.CLASS_DICT.keys())
#     plt.figure(figsize=(8, 6))
#     sns.heatmap(cm_df, annot=True)
#     plt.title('Confusion Matrix')
#     plt.ylabel('Actual Anemia')
#     plt.xlabel('Predicted Anemia')
#     plt.tight_layout()
#     if save:
#         plt.savefig(filename)
#     plt.show()
#     plt.close()

In [ ]:
utils.plot_confusion_matrix(test_df['y_actual'], test_df['y_pred'])