In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import random
import os
import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

#### The Data

In [3]:
#train_df = pd.read_csv('../../final/data/train_set_noisy_4_missing_3.csv')
train_df = pd.read_csv('../../final/data/train_set_0.5')
train_df = train_df.fillna(-1)
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,9.073057,-1.000000,3.820005,5.728124,-1.000000,94.912281,53.584390,2.867824,0,0.393206,18.001023,-1.000000,36.119112,-1.000000,85.808086,27.219170,-1.000000,5
1,9.311757,33.672786,0.554983,3.294060,208.553305,90.093561,-1.000000,3.100696,1,0.325903,32.115264,-1.000000,-1.000000,-1.000000,-1.000000,27.935271,-1.000000,6
2,7.507666,-1.000000,-1.000000,0.418794,-1.000000,101.347510,-1.000000,2.222353,1,0.640680,18.795686,-1.000000,-1.000000,-1.000000,-1.000000,22.522997,-1.000000,1
3,10.175245,-1.000000,5.636392,-1.000000,-1.000000,89.721330,-1.000000,3.402283,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,30.525734,-1.000000,5
4,14.223213,279.530644,5.421049,1.919146,423.980325,102.557993,31.429089,4.160538,0,0.883054,29.605400,65.247452,3.776435,23.656463,69.544280,42.669640,7.412865,0

In [4]:
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [5]:
X_train = train_df.iloc[:, 0:-1]
y_train = train_df.iloc[:, -1]

X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((28000, 17), (14000, 17), (28000,), (14000,))

In [6]:
action_list = list(constants.CLASS_DICT.keys()) + [col  for col in train_df.columns if col!='label']
action_list

['No anemia',
 'Vitamin B12/Folate deficiency anemia',
 'Unspecified anemia',
 'Anemia of chronic disease',
 'Iron deficiency anemia',
 'Hemolytic anemia',
 'Aplastic anemia',
 'Inconclusive diagnosis',
 'hemoglobin',
 'ferritin',
 'ret_count',
 'segmented_neutrophils',
 'tibc',
 'mcv',
 'serum_iron',
 'rbc',
 'gender',
 'creatinine',
 'cholestrol',
 'copper',
 'ethanol',
 'folate',
 'glucose',
 'hematocrit',
 'tsat']

#### Training

In [ ]:
#for steps in [int(24e6), ]:
#    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/dqn_noisy_4_missing_3_{steps}')
for steps in [int(5.5e6), int(6.5e6), int(7e6), int(7.5e6)]:
    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/dqn_set_0.5_{steps}')

using stable baselines 3
Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.47     |
|    ep_rew_mean      | -0.84    |
|    exploration_rate | 0.456    |
|    success_rate     | 0.13     |
| time/               |          |
|    episodes         | 100000   |
|    fps              | 2088     |
|    time_elapsed     | 150      |
|    total_timesteps  | 314895   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 4.37     |
|    n_updates        | 66223    |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 2.78     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.05     |
|    success_rate     | 0.08     |
| time/               |          |
|    episodes         | 200000   |
|    fps              | 1658     |
|    time_elapsed     | 412      |
|    total_timesteps  | 683587   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 7.21     |
|    n_updates        | 158396   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.65     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.05     |
|    success_rate     | 0.07     |
| time/               |          |
|    episodes         | 300000   |
|    fps              | 1420     |
|    time_elapsed     | 750      |
|    total_timesteps  | 1065316  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.366    |
|    n_updates        | 253828   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.78     |
|    ep_rew_mean      | -0.46    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.34     |
| time/               |          |
|    episodes         | 400000   |
|    fps              | 1226     |
|    time_elapsed     | 1234     |
|    total_timesteps  | 1514906  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0168   |
|    n_updates        | 366226   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.87     |
|    ep_rew_mean      | -0.4     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.31     |
| time/               |          |
|    episodes         | 500000   |
|    fps              | 1205     |
|    time_elapsed     | 1600     |
|    total_timesteps  | 1929674  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.12     |
|    n_updates        | 469918   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.21     |
|    ep_rew_mean      | -0.84    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.13     |
| time/               |          |
|    episodes         | 600000   |
|    fps              | 1103     |
|    time_elapsed     | 2122     |
|    total_timesteps  | 2341758  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0728   |
|    n_updates        | 572939   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.12     |
|    ep_rew_mean      | -0.14    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.5      |
| time/               |          |
|    episodes         | 700000   |
|    fps              | 1010     |
|    time_elapsed     | 2735     |
|    total_timesteps  | 2763623  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.133    |
|    n_updates        | 678405   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.88     |
|    ep_rew_mean      | 0.46     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.8      |
| time/               |          |
|    episodes         | 800000   |
|    fps              | 958      |
|    time_elapsed     | 3307     |
|    total_timesteps  | 3169483  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0697   |
|    n_updates        | 779870   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.1      |
|    ep_rew_mean      | 0.52     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.83     |
| time/               |          |
|    episodes         | 900000   |
|    fps              | 892      |
|    time_elapsed     | 4008     |
|    total_timesteps  | 3577695  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0237   |
|    n_updates        | 881923   |
----------------------------------

In [ ]:
# class_dict = constants.CLASS_DICT
# df['label'] = df['label'].replace(class_dict)
# X = df.iloc[:, 0:-1]
# y = df.iloc[:, -1]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_test, y_test = np.array(X_test), np.array(y_test)
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# %%time
# timesteps = int(2e6)
# dqn_model = utils.stable_dqn3(X_train, y_train, timesteps, True, f'../../models/many_features/stable_dqn3_{timesteps}')
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

#### Testing

In [ ]:
# training_env = utils.create_env(X_train, y_train)
# dqn_model = utils.load_dqn3('../../models/many_features/0.1/with_correlated_fts/dqn3_by_type_noisy_6_16000000', training_env)
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

In [ ]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

In [ ]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

In [ ]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

In [ ]:
test_df.y_pred.unique()

In [ ]:
test_df[test_df.y_pred==4]

#### Saving files

In [ ]:
# test_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/test_df3_9000000.csv', index=False)
# success_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/success_df3_9000000.csv', index=False)

#### Confusion matrix and classification report

In [ ]:
test_df = pd.read_csv('../../test_dfs/many_features/0.1/test_df3_6500000.csv')
test_df.head()

In [ ]:
utils.plot_classification_report(test_df['y_actual'], test_df['y_pred'])

In [ ]:
# def plot_confusion_matrix(y_actual, y_pred, save=False, filename=False):
#     from sklearn.metrics import confusion_matrix
#     cm = confusion_matrix(y_actual, y_pred)
#     cm_df = pd.DataFrame(cm, index = [0, 1, 2, 3, 4, 5, 6], columns = [0, 1, 2, 3, 4, 5, 6], dtype='object')
#     #cm_df = pd.DataFrame(cm, index = constants.CLASS_DICT.keys(), columns = constants.CLASS_DICT.keys())
#     plt.figure(figsize=(8, 6))
#     sns.heatmap(cm_df, annot=True)
#     plt.title('Confusion Matrix')
#     plt.ylabel('Actual Anemia')
#     plt.xlabel('Predicted Anemia')
#     plt.tight_layout()
#     if save:
#         plt.savefig(filename)
#     plt.show()
#     plt.close()

In [ ]:
utils.plot_confusion_matrix(test_df['y_actual'], test_df['y_pred'])