In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import random
import os
import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### delete from here

In [2]:
#sizes = [0.5, 0.1, 0.05, 0.01]
#seeds = [0, 21, 63, 84]
#steps = [5500000, 6000000]
#for seed in seeds:
#    for step in steps:
#        random.seed(seed)
#        np.random.seed(seed)
#        os.environ['PYTHONHASHSEED']=str(seed)
#        torch.manual_seed(seed)
#        torch.use_deterministic_algorithms(True)
#        #train_df = pd.read_csv(f'../../final/data/train_set_basic_{size}_seed_{seed}.csv')
#        train_df = pd.read_csv(f'../../final/data/train_set_basic.csv')
#        train_df = train_df.fillna(-1)
#        X_train = train_df.iloc[:, 0:-1]
#        y_train = train_df.iloc[:, -1]
#        X_train, y_train = np.array(X_train), np.array(y_train)
#        dqn_model = utils.stable_dqn3(X_train, y_train, step, True, 
#                                      f'../../final/models/dqn_basic_seed_{seed}_{step}')

#### end here

In [3]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

#### The Data

In [4]:
train_df = pd.read_csv('../../final/data/train_set_noisy_2_missing_3.csv')
#train_df = pd.read_csv('../../final/data/train_set_noisy_6_missing_3.csv')
train_df = train_df.fillna(-1)
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,8.839534,485.156879,-1.000000,0.000000,453.705337,102.432354,-1.000000,2.588889,1,1.452379,115.041719,115.082449,-1.0,-1.000000,-1.00000,-1.000000,-1.000000,0.0
1,10.306951,-1.000000,-1.000000,3.269642,361.637557,101.949912,213.802158,3.032946,0,1.983531,3.371683,128.512264,-1.0,19.486851,133.03569,30.920853,59.120563,1.0
2,6.488013,80.274764,4.562126,4.233714,116.337191,77.768892,-1.000000,2.502805,0,-1.000000,74.749421,-1.000000,-1.0,-1.000000,-1.00000,-1.000000,-1.000000,3.0
3,14.955260,485.921046,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,-1.00000,-1.000000,-1.000000,0.0
4,7.098801,-1.000000,-1.000000,-1.000000,495.647437,-1.000000,-1.000000,-1.000000,0,0.395440,-1.000000,-1.000000,-1.0,-1.000000,-1.00000,21.296403,-1.000000,1.0

In [5]:
train_df.isna().sum()

hemoglobin               0
ferritin                 0
ret_count                0
segmented_neutrophils    0
tibc                     0
mcv                      0
serum_iron               0
rbc                      0
gender                   0
creatinine               0
cholestrol               0
copper                   0
ethanol                  0
folate                   0
glucose                  0
hematocrit               0
tsat                     0
label                    0
dtype: int64

In [6]:
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [7]:
X_train = train_df.iloc[:, 0:-1]
y_train = train_df.iloc[:, -1]

X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((56000, 17), (14000, 17), (56000,), (14000,))

In [8]:
action_list = list(constants.CLASS_DICT.keys()) + [col  for col in train_df.columns if col!='label']
action_list

['No anemia',
 'Vitamin B12/Folate deficiency anemia',
 'Unspecified anemia',
 'Anemia of chronic disease',
 'Iron deficiency anemia',
 'Hemolytic anemia',
 'Aplastic anemia',
 'Inconclusive diagnosis',
 'hemoglobin',
 'ferritin',
 'ret_count',
 'segmented_neutrophils',
 'tibc',
 'mcv',
 'serum_iron',
 'rbc',
 'gender',
 'creatinine',
 'cholestrol',
 'copper',
 'ethanol',
 'folate',
 'glucose',
 'hematocrit',
 'tsat']

#### Training

In [ ]:
#for steps in [int(24e6), ]:
#    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/dqn_noisy_4_missing_3_{steps}')
for steps in [int(14.5e6), int(15e6), int(15.5e6), int(16e6), int(16.5e6)]:
    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/dqn_noisy_2_missing_3_{steps}')

using stable baselines 3
Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.09     |
|    ep_rew_mean      | -0.8     |
|    exploration_rate | 0.815    |
|    success_rate     | 0.1      |
| time/               |          |
|    episodes         | 100000   |
|    fps              | 1165     |
|    time_elapsed     | 241      |
|    total_timesteps  | 281647   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 1.09     |
|    n_updates        | 57911    |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.32     |
|    ep_rew_mean      | -0.82    |
|    exploration_rate | 0.613    |
|    success_rate     | 0.11     |
| time/               |          |
|    episodes         | 200000   |
|    fps              | 1068     |
|    time_elapsed     | 553      |
|    total_timesteps  | 590821   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 13       |
|    n_updates        | 135205   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.53     |
|    ep_rew_mean      | -0.9     |
|    exploration_rate | 0.399    |
|    success_rate     | 0.14     |
| time/               |          |
|    episodes         | 300000   |
|    fps              | 984      |
|    time_elapsed     | 930      |
|    total_timesteps  | 916923   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 19       |
|    n_updates        | 216730   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.15     |
|    ep_rew_mean      | -0.96    |
|    exploration_rate | 0.183    |
|    success_rate     | 0.12     |
| time/               |          |
|    episodes         | 400000   |
|    fps              | 903      |
|    time_elapsed     | 1381     |
|    total_timesteps  | 1247709  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 17.5     |
|    n_updates        | 299427   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.26     |
|    ep_rew_mean      | -0.98    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.1      |
| time/               |          |
|    episodes         | 500000   |
|    fps              | 867      |
|    time_elapsed     | 1800     |
|    total_timesteps  | 1562314  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 23       |
|    n_updates        | 378078   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.42     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.05     |
|    success_rate     | 0.08     |
| time/               |          |
|    episodes         | 600000   |
|    fps              | 805      |
|    time_elapsed     | 2321     |
|    total_timesteps  | 1870865  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 13.2     |
|    n_updates        | 455216   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.22     |
|    ep_rew_mean      | -0.98    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.09     |
| time/               |          |
|    episodes         | 700000   |
|    fps              | 807      |
|    time_elapsed     | 2669     |
|    total_timesteps  | 2157100  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 8.56     |
|    n_updates        | 526774   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 2.83     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.05     |
|    success_rate     | 0.09     |
| time/               |          |
|    episodes         | 800000   |
|    fps              | 831      |
|    time_elapsed     | 2959     |
|    total_timesteps  | 2461838  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 1.11     |
|    n_updates        | 602959   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.41     |
|    ep_rew_mean      | -0.7     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.19     |
| time/               |          |
|    episodes         | 900000   |
|    fps              | 847      |
|    time_elapsed     | 3309     |
|    total_timesteps  | 2803402  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0674   |
|    n_updates        | 688350   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.11     |
|    ep_rew_mean      | -0.56    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.24     |
| time/               |          |
|    episodes         | 1000000  |
|    fps              | 867      |
|    time_elapsed     | 3597     |
|    total_timesteps  | 3121074  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0194   |
|    n_updates        | 767768   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 2.9      |
|    ep_rew_mean      | -0.58    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.23     |
| time/               |          |
|    episodes         | 1100000  |
|    fps              | 885      |
|    time_elapsed     | 3899     |
|    total_timesteps  | 3454372  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0507   |
|    n_updates        | 851092   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.14     |
|    ep_rew_mean      | -0.58    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.24     |
| time/               |          |
|    episodes         | 1200000  |
|    fps              | 899      |
|    time_elapsed     | 4201     |
|    total_timesteps  | 3779932  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.161    |
|    n_updates        | 932482   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.23     |
|    ep_rew_mean      | -0.5     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.29     |
| time/               |          |
|    episodes         | 1300000  |
|    fps              | 912      |
|    time_elapsed     | 4514     |
|    total_timesteps  | 4120905  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0947   |
|    n_updates        | 1017726  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.66     |
|    ep_rew_mean      | -0.56    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.29     |
| time/               |          |
|    episodes         | 1400000  |
|    fps              | 924      |
|    time_elapsed     | 4837     |
|    total_timesteps  | 4472562  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.121    |
|    n_updates        | 1105640  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.26     |
|    ep_rew_mean      | -0.4     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.32     |
| time/               |          |
|    episodes         | 1500000  |
|    fps              | 935      |
|    time_elapsed     | 5159     |
|    total_timesteps  | 4825069  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.076    |
|    n_updates        | 1193767  |
----------------------------------

----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.02     |
|    ep_rew_mean      | -0.44    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.32     |
| time/               |          |
|    episodes         | 1600000  |
|    fps              | 936      |
|    time_elapsed     | 5519     |
|    total_timesteps  | 5171200  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0579   |
|    n_updates        | 1280299  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.63     |
|    ep_rew_mean      | -0.38    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.34     |
| time/               |          |
|    episodes         | 1700000  |
|    fps              | 940      |
|    time_elapsed     | 5863     |
|    total_timesteps  | 5516415  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.113    |
|    n_updates        | 1366603  |
----------------------------------

In [ ]:
# class_dict = constants.CLASS_DICT
# df['label'] = df['label'].replace(class_dict)
# X = df.iloc[:, 0:-1]
# y = df.iloc[:, -1]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_test, y_test = np.array(X_test), np.array(y_test)
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# %%time
# timesteps = int(2e6)
# dqn_model = utils.stable_dqn3(X_train, y_train, timesteps, True, f'../../models/many_features/stable_dqn3_{timesteps}')
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

#### Testing

In [ ]:
# training_env = utils.create_env(X_train, y_train)
# dqn_model = utils.load_dqn3('../../models/many_features/0.1/with_correlated_fts/dqn3_by_type_noisy_6_16000000', training_env)
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

In [ ]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

In [ ]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

In [ ]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

In [ ]:
test_df.y_pred.unique()

In [ ]:
test_df[test_df.y_pred==4]

#### Saving files

In [ ]:
# test_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/test_df3_9000000.csv', index=False)
# success_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/success_df3_9000000.csv', index=False)

#### Confusion matrix and classification report

In [ ]:
test_df = pd.read_csv('../../test_dfs/many_features/0.1/test_df3_6500000.csv')
test_df.head()

In [ ]:
utils.plot_classification_report(test_df['y_actual'], test_df['y_pred'])

In [ ]:
# def plot_confusion_matrix(y_actual, y_pred, save=False, filename=False):
#     from sklearn.metrics import confusion_matrix
#     cm = confusion_matrix(y_actual, y_pred)
#     cm_df = pd.DataFrame(cm, index = [0, 1, 2, 3, 4, 5, 6], columns = [0, 1, 2, 3, 4, 5, 6], dtype='object')
#     #cm_df = pd.DataFrame(cm, index = constants.CLASS_DICT.keys(), columns = constants.CLASS_DICT.keys())
#     plt.figure(figsize=(8, 6))
#     sns.heatmap(cm_df, annot=True)
#     plt.title('Confusion Matrix')
#     plt.ylabel('Actual Anemia')
#     plt.xlabel('Predicted Anemia')
#     plt.tight_layout()
#     if save:
#         plt.savefig(filename)
#     plt.show()
#     plt.close()

In [ ]:
utils.plot_confusion_matrix(test_df['y_actual'], test_df['y_pred'])

In [ ]:
a = [94.679, 96.764, 90.942, 97.493, 96.064]
np.mean(a), np.std(a)

In [ ]:
b = [90.986, 95.021, 93.829, 92.200, 95.607]
np.mean(b), np.std(b)

In [ ]:
c =  [94.657, 82.229, 91.550, 95.179, 95.150]
np.mean(c), np.std(c)