In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import random
import os
import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'seaborn'

#### delete from here

In [2]:
#sizes = [0.5, 0.1, 0.05, 0.01]
#seeds = [0, 21, 63, 84]
#steps = [5500000, 6000000]
#for seed in seeds:
#    for step in steps:
#        random.seed(seed)
#        np.random.seed(seed)
#        os.environ['PYTHONHASHSEED']=str(seed)
#        torch.manual_seed(seed)
#        torch.use_deterministic_algorithms(True)
#        #train_df = pd.read_csv(f'../../final/data/train_set_basic_{size}_seed_{seed}.csv')
#        train_df = pd.read_csv(f'../../final/data/train_set_basic.csv')
#        train_df = train_df.fillna(-1)
#        X_train = train_df.iloc[:, 0:-1]
#        y_train = train_df.iloc[:, -1]
#        X_train, y_train = np.array(X_train), np.array(y_train)
#        dqn_model = utils.stable_dqn3(X_train, y_train, step, True, 
#                                      f'../../final/models/dqn_basic_seed_{seed}_{step}')

#### end here

In [3]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

#### The Data

In [4]:
# train_df = pd.read_csv('../../final/data/train_set_basic.csv')
train_df = pd.read_csv('../../../anemia_ml4hc/data/train_set_basic.csv')
#train_df = pd.read_csv('../../final/data/train_set_noisy_6_missing_3.csv')
train_df = train_df.fillna(-1)
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,14.728733,-1.000000,3.170892,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,44.186200,-1.0,0
1,10.405752,9.634615,5.659537,-1.000000,-1.000000,77.413788,212.671838,4.032519,0,0.887130,96.311597,-1.0,43.218595,-1.0,83.207518,31.217256,-1.0,4
2,15.132737,358.914888,1.842252,3.797487,315.102272,80.500314,-1.000000,5.639507,0,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,45.398211,-1.0,0
3,11.340169,-1.000000,1.662209,2.441767,-1.000000,97.033963,102.079062,3.506041,1,1.020527,127.281715,-1.0,20.847013,-1.0,62.210273,34.020508,-1.0,6
4,6.691485,-1.000000,3.337971,-1.000000,-1.000000,99.838438,24.119564,2.010694,0,1.957666,34.633063,-1.0,34.612121,-1.0,112.411298,20.074456,-1.0,5

In [5]:
train_df.isna().sum()

hemoglobin               0
ferritin                 0
ret_count                0
segmented_neutrophils    0
tibc                     0
mcv                      0
serum_iron               0
rbc                      0
gender                   0
creatinine               0
cholestrol               0
copper                   0
ethanol                  0
folate                   0
glucose                  0
hematocrit               0
tsat                     0
label                    0
dtype: int64

In [6]:
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [7]:
X_train = train_df.iloc[:, 0:-1]
y_train = train_df.iloc[:, -1]

X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((50400, 17), (14000, 17), (50400,), (14000,))

In [8]:
action_list = list(constants.CLASS_DICT.keys()) + [col  for col in train_df.columns if col!='label']
action_list

['No anemia',
 'Vitamin B12/Folate deficiency anemia',
 'Unspecified anemia',
 'Anemia of chronic disease',
 'Iron deficiency anemia',
 'Hemolytic anemia',
 'Aplastic anemia',
 'Inconclusive diagnosis',
 'hemoglobin',
 'ferritin',
 'ret_count',
 'segmented_neutrophils',
 'tibc',
 'mcv',
 'serum_iron',
 'rbc',
 'gender',
 'creatinine',
 'cholestrol',
 'copper',
 'ethanol',
 'folate',
 'glucose',
 'hematocrit',
 'tsat']

#### Training

In [10]:
#for steps in [int(24e6), ]:
#    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/dqn_noisy_4_missing_3_{steps}')
for steps in [int(10e6)]:
#     dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, f'../../final/models/testing/dqn_basic_{steps}')
    dqn_model = utils.stable_dqn3(X_train, y_train, steps, True, 
                                  f'../../../anemia_ml4hc/models/trials/trial_no_val_dqn3_{steps}',
                                  checkpoint_folder = '../../../anemia_ml4hc/models/trials/sb3',
                                  checkpoint_prefix='dqn3_basic')

using stable baselines 3
Using cpu device
Wrapping the env with a `Monitor` wrapper
Wrapping the env in a DummyVecEnv.
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.41     |
|    ep_rew_mean      | -0.88    |
|    exploration_rate | 0.721    |
|    success_rate     | 0.1      |
| time/               |          |
|    episodes         | 100000   |
|    fps              | 3460     |
|    time_elapsed     | 84       |
|    total_timesteps  | 293727   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 11.2     |
|    n_updates        | 60931    |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.26     |
|    ep_rew_mean      | -0.84    |
|    exploration_rate | 0.384    |
|    success_rate     | 0.12     |
| time/               |          |
|    episodes         | 200000   |
|    fps              | 3111     |
|    time_elapsed     | 208      |
|    total_timesteps  | 648806   |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 16.3     |
|    n_updates        | 149701   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.34     |
|    ep_rew_mean      | -1       |
|    exploration_rate | 0.05     |
|    success_rate     | 0.08     |
| time/               |          |
|    episodes         | 300000   |
|    fps              | 2874     |
|    time_elapsed     | 356      |
|    total_timesteps  | 1025750  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 19.5     |
|    n_updates        | 243937   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.89     |
|    ep_rew_mean      | -0.98    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.1      |
| time/               |          |
|    episodes         | 400000   |
|    fps              | 2769     |
|    time_elapsed     | 502      |
|    total_timesteps  | 1390718  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 3.22     |
|    n_updates        | 335179   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.31     |
|    ep_rew_mean      | -0.9     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.16     |
| time/               |          |
|    episodes         | 500000   |
|    fps              | 2665     |
|    time_elapsed     | 688      |
|    total_timesteps  | 1835931  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0694   |
|    n_updates        | 446482   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 5.26     |
|    ep_rew_mean      | -0.68    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.26     |
| time/               |          |
|    episodes         | 600000   |
|    fps              | 2611     |
|    time_elapsed     | 870      |
|    total_timesteps  | 2272569  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0107   |
|    n_updates        | 555642   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.92     |
|    ep_rew_mean      | -0.46    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.34     |
| time/               |          |
|    episodes         | 700000   |
|    fps              | 2585     |
|    time_elapsed     | 1047     |
|    total_timesteps  | 2707499  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0258   |
|    n_updates        | 664374   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.91     |
|    ep_rew_mean      | -0.14    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.45     |
| time/               |          |
|    episodes         | 800000   |
|    fps              | 2546     |
|    time_elapsed     | 1221     |
|    total_timesteps  | 3110407  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0582   |
|    n_updates        | 765101   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.71     |
|    ep_rew_mean      | -0.28    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.38     |
| time/               |          |
|    episodes         | 900000   |
|    fps              | 2495     |
|    time_elapsed     | 1411     |
|    total_timesteps  | 3522850  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0927   |
|    n_updates        | 868212   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.25     |
|    ep_rew_mean      | -0.3     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.39     |
| time/               |          |
|    episodes         | 1000000  |
|    fps              | 2467     |
|    time_elapsed     | 1597     |
|    total_timesteps  | 3943451  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0726   |
|    n_updates        | 973362   |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.52     |
|    ep_rew_mean      | -0.24    |
|    exploration_rate | 0.05     |
|    success_rate     | 0.45     |
| time/               |          |
|    episodes         | 1100000  |
|    fps              | 2446     |
|    time_elapsed     | 1783     |
|    total_timesteps  | 4362898  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.154    |
|    n_updates        | 1078224  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.62     |
|    ep_rew_mean      | -0.2     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.43     |
| time/               |          |
|    episodes         | 1200000  |
|    fps              | 2424     |
|    time_elapsed     | 1978     |
|    total_timesteps  | 4795537  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.104    |
|    n_updates        | 1186384  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 3.9      |
|    ep_rew_mean      | 0.38     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.74     |
| time/               |          |
|    episodes         | 1300000  |
|    fps              | 2413     |
|    time_elapsed     | 2166     |
|    total_timesteps  | 5227458  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.092    |
|    n_updates        | 1294364  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.46     |
|    ep_rew_mean      | 0.4      |
|    exploration_rate | 0.05     |
|    success_rate     | 0.78     |
| time/               |          |
|    episodes         | 1400000  |
|    fps              | 2398     |
|    time_elapsed     | 2358     |
|    total_timesteps  | 5656046  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0981   |
|    n_updates        | 1401511  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.42     |
|    ep_rew_mean      | 0.38     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.79     |
| time/               |          |
|    episodes         | 1500000  |
|    fps              | 2388     |
|    time_elapsed     | 2550     |
|    total_timesteps  | 6091735  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.117    |
|    n_updates        | 1510433  |
----------------------------------

----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.36     |
|    ep_rew_mean      | 0.4      |
|    exploration_rate | 0.05     |
|    success_rate     | 0.77     |
| time/               |          |
|    episodes         | 1600000  |
|    fps              | 2385     |
|    time_elapsed     | 2734     |
|    total_timesteps  | 6522647  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0431   |
|    n_updates        | 1618161  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.45     |
|    ep_rew_mean      | 0.64     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.9      |
| time/               |          |
|    episodes         | 1700000  |
|    fps              | 2382     |
|    time_elapsed     | 2917     |
|    total_timesteps  | 6951925  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.113    |
|    n_updates        | 1725481  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.54     |
|    ep_rew_mean      | 0.46     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.87     |
| time/               |          |
|    episodes         | 1800000  |
|    fps              | 2379     |
|    time_elapsed     | 3100     |
|    total_timesteps  | 7378081  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0365   |
|    n_updates        | 1832020  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.39     |
|    ep_rew_mean      | 0.56     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.82     |
| time/               |          |
|    episodes         | 1900000  |
|    fps              | 2377     |
|    time_elapsed     | 3284     |
|    total_timesteps  | 7807864  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0577   |
|    n_updates        | 1939465  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.32     |
|    ep_rew_mean      | 0.68     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.88     |
| time/               |          |
|    episodes         | 2000000  |
|    fps              | 2375     |
|    time_elapsed     | 3468     |
|    total_timesteps  | 8238905  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0502   |
|    n_updates        | 2047226  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.2      |
|    ep_rew_mean      | 0.5      |
|    exploration_rate | 0.05     |
|    success_rate     | 0.89     |
| time/               |          |
|    episodes         | 2100000  |
|    fps              | 2374     |
|    time_elapsed     | 3653     |
|    total_timesteps  | 8674421  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.00254  |
|    n_updates        | 2156105  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.22     |
|    ep_rew_mean      | 0.48     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.87     |
| time/               |          |
|    episodes         | 2200000  |
|    fps              | 2372     |
|    time_elapsed     | 3840     |
|    total_timesteps  | 9112347  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.101    |
|    n_updates        | 2265586  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.24     |
|    ep_rew_mean      | 0.46     |
|    exploration_rate | 0.05     |
|    success_rate     | 0.85     |
| time/               |          |
|    episodes         | 2300000  |
|    fps              | 2373     |
|    time_elapsed     | 4024     |
|    total_timesteps  | 9552001  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.057    |
|    n_updates        | 2375500  |
----------------------------------
----------------------------------
| rollout/            |          |
|    ep_len_mean      | 4.27     |
|    ep_rew_mean      | 0.5      |
|    exploration_rate | 0.05     |
|    success_rate     | 0.83     |
| time/               |          |
|    episodes         | 2400000  |
|    fps              | 2374     |
|    time_elapsed     | 4208     |
|    total_timesteps  | 9993127  |
| train/              |          |
|    learning_rate    | 0.0001   |
|    loss             | 0.0511   |
|    n_updates        | 2485781  |
----------------------------------

In [ ]:
# class_dict = constants.CLASS_DICT
# df['label'] = df['label'].replace(class_dict)
# X = df.iloc[:, 0:-1]
# y = df.iloc[:, -1]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_test, y_test = np.array(X_test), np.array(y_test)
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# %%time
# timesteps = int(2e6)
# dqn_model = utils.stable_dqn3(X_train, y_train, timesteps, True, f'../../models/many_features/stable_dqn3_{timesteps}')
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

#### Testing

In [ ]:
# training_env = utils.create_env(X_train, y_train)
# dqn_model = utils.load_dqn3('../../models/many_features/0.1/with_correlated_fts/dqn3_by_type_noisy_6_16000000', training_env)
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

In [ ]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

In [ ]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

In [ ]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

In [ ]:
test_df.y_pred.unique()

In [ ]:
test_df[test_df.y_pred==4]

#### Saving files

In [ ]:
# test_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/test_df3_9000000.csv', index=False)
# success_df.to_csv(f'../../test_dfs/many_features/0.1/correlated/success_df3_9000000.csv', index=False)

#### Confusion matrix and classification report

In [ ]:
test_df = pd.read_csv('../../test_dfs/many_features/0.1/test_df3_6500000.csv')
test_df.head()

In [ ]:
utils.plot_classification_report(test_df['y_actual'], test_df['y_pred'])

In [ ]:
# def plot_confusion_matrix(y_actual, y_pred, save=False, filename=False):
#     from sklearn.metrics import confusion_matrix
#     cm = confusion_matrix(y_actual, y_pred)
#     cm_df = pd.DataFrame(cm, index = [0, 1, 2, 3, 4, 5, 6], columns = [0, 1, 2, 3, 4, 5, 6], dtype='object')
#     #cm_df = pd.DataFrame(cm, index = constants.CLASS_DICT.keys(), columns = constants.CLASS_DICT.keys())
#     plt.figure(figsize=(8, 6))
#     sns.heatmap(cm_df, annot=True)
#     plt.title('Confusion Matrix')
#     plt.ylabel('Actual Anemia')
#     plt.xlabel('Predicted Anemia')
#     plt.tight_layout()
#     if save:
#         plt.savefig(filename)
#     plt.show()
#     plt.close()

In [ ]:
utils.plot_confusion_matrix(test_df['y_actual'], test_df['y_pred'])

In [ ]:
a = [94.679, 96.764, 90.942, 97.493, 96.064]
np.mean(a), np.std(a)

In [ ]:
b = [90.986, 95.021, 93.829, 92.200, 95.607]
np.mean(b), np.std(b)

In [ ]:
c =  [94.657, 82.229, 91.550, 95.179, 95.150]
np.mean(c), np.std(c)