In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
import os
from datetime import datetime
# import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
SEED = constants.SEED
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
print(SEED)
# torch.manual_seed(SEED)
# torch.use_deterministic_algorithms(True)

105

#### The Data

In [3]:
# sizes = [0.1]
# for size in sizes:
#     train_df = pd.read_csv(f'../../../anemia_ml4hc/data/train_set_basic_{size}_seed_{SEED}.csv')
#     train_df = train_df.fillna(-1)
#     X_train = train_df.iloc[:, 0:-1]
#     y_train = train_df.iloc[:, -1]
#     X_train, y_train = np.array(X_train), np.array(y_train)
#     for steps in [int(15e6)]:
#         dqn_model = utils.stable_double_dqn(X_train, y_train, steps, True, 
#             f'../../../anemia_ml4hc/models/sb/new_different_training_sizes/dqn_pr_train_set_{size}_{SEED}_{steps}')

In [4]:
# missingness_levels = [0.3]

# for level in missingness_levels:
# # for level in missingness_levels[:1]:
#     train_df = pd.read_csv(f'../../../anemia_ml4hc/data/train_set_missingness_{level}.csv')
#     train_df = train_df.fillna(-1)
# #     print(len(train_df))
#     X_train = train_df.iloc[:, 0:-1]
#     y_train = train_df.iloc[:, -1]
#     X_train, y_train = np.array(X_train), np.array(y_train)
#     print(X_train.shape, y_train.shape)
    
#     for steps in [int(15e6), int(12e6), int(10e6)]:
# #     for steps in [int(2e3)]:
#         dqn_model = utils.stable_vanilla_dqn(X_train, y_train, steps, True, 
#                     f'../../../anemia_ml4hc/models/sb/new_missingness_noisiness/dqn_pr_missingness_{level}_{steps}')#,

In [5]:
# train_df = pd.read_csv('../../final/data/train_set_basic.csv')

train_df = pd.read_csv(f'../../../anemia_ml4hc/data/train_set_basic.csv')
# #train_df = pd.read_csv('../../final/data/train_set_noisy_6_missing_3.csv')
train_df = train_df.fillna(-1)
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,14.728733,-1.000000,3.170892,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,44.186200,-1.0,0
1,10.405752,9.634615,5.659537,-1.000000,-1.000000,77.413788,212.671838,4.032519,0,0.887130,96.311597,-1.0,43.218595,-1.0,83.207518,31.217256,-1.0,4
2,15.132737,358.914888,1.842252,3.797487,315.102272,80.500314,-1.000000,5.639507,0,-1.000000,-1.000000,-1.0,-1.000000,-1.0,-1.000000,45.398211,-1.0,0
3,11.340169,-1.000000,1.662209,2.441767,-1.000000,97.033963,102.079062,3.506041,1,1.020527,127.281715,-1.0,20.847013,-1.0,62.210273,34.020508,-1.0,6
4,6.691485,-1.000000,3.337971,-1.000000,-1.000000,99.838438,24.119564,2.010694,0,1.957666,34.633063,-1.0,34.612121,-1.0,112.411298,20.074456,-1.0,5

In [6]:
len(train_df)

50400

In [7]:
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [8]:
X_train = train_df.iloc[:, 0:-1]
y_train = train_df.iloc[:, -1]

X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((50400, 17), (14000, 17), (50400,), (14000,))

#### Training

In [9]:
# %%time
# timesteps = int(1e6)
# dqn_model = utils.stable_dqn(X_train, y_train, timesteps, True, f'../../models/many_features/stable_dqn_{timesteps}')
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

In [ ]:
# for steps in [int(50e6)]:
#     dqn_model = utils.stable_dqn(X_train, y_train, steps, True, 
#                                  f'../../../anemia_ml4hc/models/complete_models/dueling_ddqn_{steps}',
#                                  checkpoint_folder = '../../../anemia_ml4hc/models/sb/dueling_double_dqn',
#                                  checkpoint_prefix='dddqn_basic')
    
for steps in [int(15e6)]:
# for steps in [int(2e3)]:
    dqn_model = utils.stable_dueling_dqn(X_train, y_train, steps, True, 
                                 f'../../../anemia_ml4hc/models/sb/seed_{SEED}/dueling_dqn_pr_{steps}')#,
#                                  checkpoint_folder = '../../../anemia_ml4hc/models/sb/dueling_double_dqn',
#                                  checkpoint_prefix='dqn_basic')

/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning:

Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning:

Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning:

Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning:

Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning:

Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning:

Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.

using just stable baselines (not 3) - dueling dqn
WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/stable_baselines/deepq/policies.py:109: flatten (from tensorflow.python.layers.core) is deprecated and will be removed in a future version.
Instructions for updating:
Use keras.layers.flatten instead.
WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

Invalid MIT-MAGIC-COOKIE-1 key/home/lmuyama/anaconda3/envs/stable_baselines_tf2_env/lib/python3.7/site-packages/stable_baselines/__init__.py:33: UserWarning:

stable-baselines is in maintenance mode, please use [Stable-Baselines3 (SB3)](https://github.com/DLR-RM/stable-baselines3) for an up-to-date version. You can find a [migration guide](https://stable-baselines3.readthedocs.io/en/master/guide/migration.html) in SB3 documentation.

--------------------------------------
| % time spent exploring  | 98       |
| episodes                | 10000    |
| mean 100 episode reward | -0.8     |
| steps                   | 26713    |
| success rate            | 0.09     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 96       |
| episodes                | 20000    |
| mean 100 episode reward | -0.8     |
| steps                   | 53800    |
| success rate            | 0.12     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 94       |
| episodes                | 30000    |
| mean 100 episode reward | -0.8     |
| steps                   | 81015    |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 93       |
| episodes                | 40000    |
| mean 100 episode reward | -0.9     |
| steps                   | 108643   |
| success rate            | 0.1      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 91       |
| episodes                | 50000    |
| mean 100 episode reward | -0.7     |
| steps                   | 136615   |
| success rate            | 0.15     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 89       |
| episodes                | 60000    |
| mean 100 episode reward | -0.8     |
| steps                   | 164574   |
| success rate            | 0.13     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 87       |
| episodes                | 70000    |
| mean 100 episode reward | -0.7     |
| steps                   | 192844   |
| success rate            | 0.15     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 85       |
| episodes                | 80000    |
| mean 100 episode reward | -0.8     |
| steps                   | 221794   |
| success rate            | 0.1      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 84       |
| episodes                | 90000    |
| mean 100 episode reward | -0.8     |
| steps                   | 250647   |
| success rate            | 0.1      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 82       |
| episodes                | 100000   |
| mean 100 episode reward | -0.8     |
| steps                   | 280368   |
| success rate            | 0.12     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 80       |
| episodes                | 110000   |
| mean 100 episode reward | -0.9     |
| steps                   | 309923   |
| success rate            | 0.1      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 78       |
| episodes                | 120000   |
| mean 100 episode reward | -0.8     |
| steps                   | 340010   |
| success rate            | 0.13     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 76       |
| episodes                | 130000   |
| mean 100 episode reward | -0.8     |
| steps                   | 370587   |
| success rate            | 0.13     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 74       |
| episodes                | 140000   |
| mean 100 episode reward | -0.7     |
| steps                   | 401216   |
| success rate            | 0.19     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 72       |
| episodes                | 150000   |
| mean 100 episode reward | -0.8     |
| steps                   | 431666   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 70       |
| episodes                | 160000   |
| mean 100 episode reward | -0.8     |
| steps                   | 462426   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 68       |
| episodes                | 170000   |
| mean 100 episode reward | -0.9     |
| steps                   | 493620   |
| success rate            | 0.08     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 66       |
| episodes                | 180000   |
| mean 100 episode reward | -0.9     |
| steps                   | 525410   |
| success rate            | 0.09     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 64       |
| episodes                | 190000   |
| mean 100 episode reward | -0.9     |
| steps                   | 557023   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 62       |
| episodes                | 200000   |
| mean 100 episode reward | -0.8     |
| steps                   | 588602   |
| success rate            | 0.14     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 60       |
| episodes                | 210000   |
| mean 100 episode reward | -0.8     |
| steps                   | 620471   |
| success rate            | 0.15     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 58       |
| episodes                | 220000   |
| mean 100 episode reward | -0.8     |
| steps                   | 652679   |
| success rate            | 0.13     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 56       |
| episodes                | 230000   |
| mean 100 episode reward | -0.8     |
| steps                   | 685106   |
| success rate            | 0.1      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 54       |
| episodes                | 240000   |
| mean 100 episode reward | -0.8     |
| steps                   | 717805   |
| success rate            | 0.14     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 52       |
| episodes                | 250000   |
| mean 100 episode reward | -0.8     |
| steps                   | 750261   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 50       |
| episodes                | 260000   |
| mean 100 episode reward | -0.8     |
| steps                   | 782275   |
| success rate            | 0.15     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 48       |
| episodes                | 270000   |
| mean 100 episode reward | -0.9     |
| steps                   | 814593   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 46       |
| episodes                | 280000   |
| mean 100 episode reward | -0.9     |
| steps                   | 846886   |
| success rate            | 0.13     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 44       |
| episodes                | 290000   |
| mean 100 episode reward | -0.9     |
| steps                   | 879845   |
| success rate            | 0.08     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 42       |
| episodes                | 300000   |
| mean 100 episode reward | -0.9     |
| steps                   | 913568   |
| success rate            | 0.1      |
--------------------------------------
--------------------------------------
| % time spent exploring  | 40       |
| episodes                | 310000   |
| mean 100 episode reward | -0.9     |
| steps                   | 947074   |
| success rate            | 0.08     |
--------------------------------------

--------------------------------------
| % time spent exploring  | 37       |
| episodes                | 320000   |
| mean 100 episode reward | -0.9     |
| steps                   | 981636   |
| success rate            | 0.11     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 35       |
| episodes                | 330000   |
| mean 100 episode reward | -0.9     |
| steps                   | 1015151  |
| success rate            | 0.13     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 33       |
| episodes                | 340000   |
| mean 100 episode reward | -0.9     |
| steps                   | 1049568  |
| success rate            | 0.12     |
--------------------------------------
--------------------------------------
| % time spent exploring  | 31       |
| episodes                | 350000   |
| mean 100 episode reward | -0.9     |
| steps                   | 1084028  |
| success rate            | 0.09     |
--------------------------------------

#### Testing

#### Saving files

In [ ]:
# test_df.to_csv(f'../../test_dfs/many_features/test_df_2800000.csv', index=False)
# success_df.to_csv(f'../../test_dfs/many_features/success_df_2800000.csv', index=False)