In [13]:
import pandas as pd
import numpy as np
import random
import os
import sys
sys.path.append('../..')
from modules.many_features import utils, constants, env
from modules.many_features.random_agent import RandomAgent
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

In [15]:
# df = pd.read_csv('../../data/more_features/more_feats_correlated_noisy_2_missing_05.csv')
# df = df.fillna(-1)
# df.head()
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df = test_df.fillna(-1)
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [16]:
X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_test, y_test = np.array(X_test), np.array(y_test)

#### The Random Agent

In [17]:
# %%time
rand_agent = RandomAgent(X_test[0:], y_test[0:])
test_df = rand_agent.test()
test_df.head()

Testing done.....

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,2.0,0.0,0.0,-1.0,0.0,"[ret_count, Vitamin B12/Folate deficiency anemia]",5.0,1.0
1,1.0,1.0,0.0,-1.0,0.0,[No anemia],1.0,0.0
2,2.0,2.0,1.0,1.0,0.0,"[segmented_neutrophils, Iron deficiency anemia]",4.0,4.0
3,1.0,3.0,0.0,-1.0,0.0,[Anemia of chronic disease],0.0,3.0
4,1.0,4.0,0.0,-1.0,0.0,[Anemia of chronic disease],7.0,3.0

In [18]:
len(X_test), len(test_df)

(14000, 14000)

In [19]:
# test_df.to_csv('../../test_dfs/many_features/random_test_df_noisy_0.4.csv', index=False)

In [20]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

12.614285714285714

In [21]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

(1.5399285714285715, -0.7584285714285715)

In [22]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

(0.12614285714285714, 0.1260306142657685, 0.5017154798554563)

In [23]:
test_df.y_pred.unique()

array([1., 0., 4., 3., 2., 6., 7., 5.])