In [2]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split

In [3]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

#### The dataset

In [4]:
full_df = pd.read_csv('../../final/data/train_set_basic.csv')
full_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,9.007012,-1.000000,-1.000000,3.519565,440.499323,103.442762,59.017997,2.612173,1,0.650757,114.794964,112.308159,25.612786,5.969710,116.026042,27.021037,13.397977,1
1,8.760976,-1.000000,0.491469,-1.000000,259.895852,103.885481,-1.000000,2.529991,0,0.728641,74.824352,-1.000000,-1.000000,-1.000000,-1.000000,26.282929,-1.000000,7
2,7.490324,70.812609,-1.000000,1.495604,482.109919,79.543391,-1.000000,2.824995,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,22.470972,-1.000000,4
3,8.113370,499.313483,3.507612,0.000000,195.351883,100.545858,203.895756,2.420797,1,0.860863,9.120947,41.131511,1.843890,18.845473,106.199806,24.340111,104.373581,2
4,13.935301,349.569415,5.190725,6.894195,489.595939,102.234294,150.085853,4.089225,1,0.216907,20.344863,92.547095,19.815123,29.543875,98.388710,41.805903,30.655044,0

In [9]:
X = full_df.iloc[:, 0:-1]
y = full_df.iloc[:, -1]

In [10]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.10, random_state=SEED, stratify=y)
X_train.shape, y_train.shape, X_val.shape, y_val.shape

((50400, 17), (50400,), (5600, 17), (5600,))

In [11]:
train_df = pd.concat([X_train, y_train], axis=1).reset_index(drop=True)
val_df = pd.concat([X_val, y_val], axis=1).reset_index(drop=True)

#### Saving the datasets

In [13]:
# train_df.to_csv('../../final/data/new_experiments/train_set_basic.csv', index=False)
# val_df.to_csv('../../final/data/new_experiments/val_set_constant.csv', index=False)