In [1]:
import pandas as pd
import numpy as np
import random
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
import warnings
warnings.filterwarnings('ignore')

C:\Users\User\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df= pd.read_csv('../../data/more_features/more_feats_correlated_0.1.csv')
#df = df.fillna(-1)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,11.183192,187.573466,4.951674,1.661383,316.593436,95.006424,181.242992,3.531295,1,NaN,28.040619,96.721542,49.530542,23.186628,NaN,33.549575,57.247868,Hemolytic anemia
1,14.387445,NaN,NaN,NaN,NaN,NaN,125.249617,NaN,1,NaN,98.357508,112.758764,62.464566,7.168920,NaN,43.162335,NaN,No anemia
2,12.749357,5.012158,3.502800,6.179371,498.418768,76.759285,159.834784,4.982859,1,1.022939,56.850479,75.739552,72.072041,20.600875,44.872138,38.248071,32.068372,Iron deficiency anemia
3,11.508870,197.180945,1.200125,0.000000,457.033309,102.900301,131.177927,3.355346,1,NaN,111.220307,66.999185,18.353272,14.132423,NaN,34.526609,28.702050,Unspecified anemia
4,9.456656,427.952052,NaN,0.660252,NaN,104.543774,NaN,2.713693,0,NaN,NaN,NaN,NaN,NaN,NaN,28.369968,NaN,Vitamin B12/Folate deficiency anemia

In [3]:
df.isna().sum()

hemoglobin                   0
ferritin                 25000
ret_count                25000
segmented_neutrophils    22300
tibc                     25900
mcv                       5000
serum_iron               25900
rbc                       5000
gender                       0
creatinine               38500
cholestrol               25900
copper                   25900
ethanol                  19600
folate                   25900
glucose                  51100
hematocrit                   0
tsat                     42191
label                        0
dtype: int64

In [4]:
df.label.value_counts()

No anemia                               10000
Anemia of chronic disease                9756
Iron deficiency anemia                   9267
Unspecified anemia                       9033
Aplastic anemia                          9020
Vitamin B12/Folate deficiency anemia     9000
Hemolytic anemia                         8976
Inconclusive diagnosis                   4948
Name: label, dtype: int64

In [5]:
frac = 0.2

In [6]:
for column in df.columns:
    if column not in ['hemoglobin', 'gender', 'label']:
        df[column] = df[column].sample(frac=1-frac)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,11.183192,187.573466,4.951674,1.661383,316.593436,95.006424,NaN,3.531295,1,NaN,28.040619,96.721542,49.530542,23.186628,NaN,NaN,57.247868,Hemolytic anemia
1,14.387445,NaN,NaN,NaN,NaN,NaN,125.249617,NaN,1,NaN,98.357508,112.758764,62.464566,7.168920,NaN,43.162335,NaN,No anemia
2,12.749357,NaN,3.502800,6.179371,498.418768,76.759285,159.834784,4.982859,1,1.022939,56.850479,75.739552,72.072041,20.600875,NaN,38.248071,32.068372,Iron deficiency anemia
3,11.508870,197.180945,1.200125,0.000000,457.033309,102.900301,131.177927,3.355346,1,NaN,111.220307,66.999185,18.353272,NaN,NaN,34.526609,28.702050,Unspecified anemia
4,9.456656,427.952052,NaN,0.660252,NaN,104.543774,NaN,2.713693,0,NaN,NaN,NaN,NaN,NaN,NaN,28.369968,NaN,Vitamin B12/Folate deficiency anemia

In [7]:
df.shape

(70000, 18)

In [8]:
df.isna().sum()

hemoglobin                   0
ferritin                 33987
ret_count                33897
segmented_neutrophils    31943
tibc                     34727
mcv                      17965
serum_iron               34719
rbc                      18030
gender                       0
creatinine               44875
cholestrol               34799
copper                   34761
ethanol                  29665
folate                   34685
glucose                  54768
hematocrit               14000
tsat                     47697
label                        0
dtype: int64

In [9]:
utils.get_dt_performance(df)

(0.8411428571428572,
 0.8121419872418816,
 0.8947143145116141,
 datetime.timedelta(microseconds=4000))

In [10]:
df.to_csv('../../data/more_features/more_feats_correlated_missing_2.csv', index=False)