In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import random
import sys
sys.path.append('../..')
from modules.many_features import utils, constants

In [3]:
feat_arr = [{'name':'hemoglobin', 'lower':12, 'upper':17.2, 'mean':10.3, 'std':2.3, 'min':(0, 5)},
            {'name':'ferritin', 'lower':10, 'upper':263, 'mean':697, 'std':3305, 'min':(1.6, 8)},
            {'name':'ret_count', 'lower':0.5, 'upper':2.5, 'mean':2.6, 'std':2.5, 'min':(0, 0.5)},
            {'name':'segmented_neutrophils', 'lower':0, 'upper':0, 'mean':0, 'std':2.4, 'min':(0, 0)},
            {'name':'tibc', 'lower':250, 'upper':450, 'mean':242, 'std':90, 'min':(3, 100)},
            {'name':'mcv', 'lower':80, 'upper':100, 'mean':90, 'std':8, 'min':(0, 65)}]

anem_feat_arr = [{'name':'hemoglobin', 'lower':12, 'upper':17.2, 'abnorm_lower':6, 'abnorm_upper':18},
                 {'name':'ferritin', 'lower':10, 'upper':263, 'abnorm_lower':0, 'abnorm_upper': 500},
                 {'name':'ret_count', 'lower':0.5, 'upper':2.5, 'abnorm_lower':0, 'abnorm_upper':6},
                 {'name':'segmented_neutrophils', 'lower':0, 'upper':0, 'abnorm_lower':0.1, 'abnorm_upper':7},
                 {'name':'tibc', 'lower':250, 'upper':450, 'abnorm_lower': 100, 'abnorm_upper':500},
                 {'name':'mcv', 'lower':80, 'upper':100, 'abnorm_lower': 75, 'abnorm_upper':105},
                 {'name':'gender', 'lower':0, 'upper':1}, #0=Female 1=male
                ]

#### The data

In [4]:
df= pd.read_csv('../../data/more_features/more_feats_correlated_0.1.csv')
df = df.fillna(-1)
df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,11.183192,187.573466,4.951674,1.661383,316.593436,95.006424,181.242992,3.531295,1,-1.000000,28.040619,96.721542,49.530542,23.186628,-1.000000,33.549575,57.247868,Hemolytic anemia
1,14.387445,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,125.249617,-1.000000,1,-1.000000,98.357508,112.758764,62.464566,7.168920,-1.000000,43.162335,-1.000000,No anemia
2,12.749357,5.012158,3.502800,6.179371,498.418768,76.759285,159.834784,4.982859,1,1.022939,56.850479,75.739552,72.072041,20.600875,44.872138,38.248071,32.068372,Iron deficiency anemia
3,11.508870,197.180945,1.200125,0.000000,457.033309,102.900301,131.177927,3.355346,1,-1.000000,111.220307,66.999185,18.353272,14.132423,-1.000000,34.526609,28.702050,Unspecified anemia
4,9.456656,427.952052,-1.000000,0.660252,-1.000000,104.543774,-1.000000,2.713693,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,28.369968,-1.000000,Vitamin B12/Folate deficiency anemia

In [5]:
df.label.unique()

array(['Hemolytic anemia', 'No anemia', 'Iron deficiency anemia',
       'Unspecified anemia', 'Vitamin B12/Folate deficiency anemia',
       'Aplastic anemia', 'Anemia of chronic disease',
       'Inconclusive diagnosis'], dtype=object)

In [6]:
mult = 1

In [8]:
anemias_features_dict = {'Vitamin B12/Folate deficiency anemia': ['mcv', 'segmented_neutrophils'], 
                         'Unspecified anemia': ['mcv', 'segmented_neutrophils'], 
                         'Anemia of chronic disease': ['mcv', 'ferritin', 'tibc'], 
                         'Iron deficiency anemia': ['mcv', 'ferritin', 'tibc'], 
                         'Hemolytic anemia': ['mcv', 'ret_count'], 
                         'Aplastic anemia': ['mcv', 'ret_count']}

In [ ]:
def feat_noisiness(df, feat_name, frac, mean, std):
    df[feat_name] = df[feat_name].sample(frac=1-frac)
    nan_index = df[df[feat_name].isna()].index
    fill_values = np.random.normal(mean, std, size=len(index))
    df[feat_name] = df.feat_name.fillna(pd.Series(fill_values, index=index))
    return df[feat_name]

In [ ]:
### delete from here

In [13]:
index = df[df['b'].isna()].index
index

Int64Index([0, 1, 3], dtype='int64')

In [16]:
len(index)

3

In [14]:
value = np.random.normal(5, 2, size=df['b'].isna().sum())
value

array([4.7234714 , 6.29537708, 8.04605971])

In [15]:
df['b'] = df['b'].fillna(pd.Series(value, index=index))
df.head()

     a         b    c
0  1.0  4.723471  2.0
1  2.0  6.295377  NaN
2  5.0  8.000000  4.0
3  NaN  8.046060  NaN

In [ ]:
### end here

#### Vitamin B12/Folate deficiency anemia

In [7]:
vit_df = df[df.label=='Vitamin B12/Folate deficiency anemia']
vit_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
4,9.456656,427.952052,-1.000000,0.660252,-1.000000,104.543774,-1.000000,2.713693,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,28.369968,-1.000000,Vitamin B12/Folate deficiency anemia
6,6.939906,433.022945,-1.000000,3.831731,-1.000000,102.390026,-1.000000,2.033373,1,-1.000000,-1.000000,-1.000000,5.377878,-1.000000,-1.00000,20.819717,-1.000000,Vitamin B12/Folate deficiency anemia
13,10.821902,134.578931,4.438313,3.022130,482.327091,101.919603,125.867191,3.185423,0,-1.000000,100.431364,109.078360,63.046145,25.636901,-1.00000,32.465707,26.095816,Vitamin B12/Folate deficiency anemia
20,11.778437,191.937028,3.918479,1.881728,389.835900,101.602359,169.283019,3.477804,1,0.807224,22.503145,98.530413,35.562075,12.959532,136.43449,35.335312,43.424174,Vitamin B12/Folate deficiency anemia
25,9.232404,-1.000000,-1.000000,0.709700,-1.000000,101.375414,109.743201,2.732143,0,-1.000000,48.672338,67.691590,34.493253,26.806454,-1.00000,27.697211,-1.000000,Vitamin B12/Folate deficiency anemia

In [ ]:
for i in ['mcv', 'segmented_neutrophils']:
    vit_df[i] = vit_df[i].sample(frac=1-mult*0.05)
vit_df.isna().sum()

In [ ]:
vit_df['mcv'] = vit_df['mcv'].fillna(random.uniform(95, 100))
vit_df['segmented_neutrophils'] = vit_df['segmented_neutrophils'].fillna(-1)
vit_df.head()