In [3]:
import pandas as pd
import numpy as np
import ast
import random
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
import plotly.graph_objects as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

#### Test df

In [5]:
test_df = pd.read_csv('../../test_dfs/many_features/test_df_2800000.csv')
test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,4.0,0.0,1.0,1.0,0.0,"['hemoglobin', 'tibc', 'ret_count', 'Aplastic ...",6.0,6.0
1,4.0,1.0,1.0,1.0,0.0,"['hemoglobin', 'tibc', 'ret_count', 'Aplastic ...",6.0,6.0
2,10.0,2.0,0.0,-8.0,1.0,"['hemoglobin', 'transferrin', 'transferrin', '...",0.0,2.0
3,4.0,3.0,1.0,1.0,0.0,"['hemoglobin', 'tibc', 'ferritin', 'Iron defic...",4.0,4.0
4,4.0,4.0,1.0,1.0,0.0,"['hemoglobin', 'tibc', 'ret_count', 'Aplastic ...",6.0,6.0

In [6]:
test_df.iloc[0]['trajectory']

"['hemoglobin', 'tibc', 'ret_count', 'Aplastic anemia']"