In [19]:
import pandas as pd
import numpy as np
import random
import sys
sys.path.append('../..')
from modules.many_features import utils, constants

In [20]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

#### The dataset

In [21]:
train_df = pd.read_csv('../../final/data/train_set_basic.csv')
train_df = train_df.replace(-1, np.nan)
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,9.007012,NaN,NaN,3.519565,440.499323,103.442762,59.017997,2.612173,1,0.650757,114.794964,112.308159,25.612786,5.969710,116.026042,27.021037,13.397977,1
1,8.760976,NaN,0.491469,NaN,259.895852,103.885481,NaN,2.529991,0,0.728641,74.824352,NaN,NaN,NaN,NaN,26.282929,NaN,7
2,7.490324,70.812609,NaN,1.495604,482.109919,79.543391,NaN,2.824995,0,NaN,NaN,NaN,NaN,NaN,NaN,22.470972,NaN,4
3,8.113370,499.313483,3.507612,0.000000,195.351883,100.545858,203.895756,2.420797,1,0.860863,9.120947,41.131511,1.843890,18.845473,106.199806,24.340111,104.373581,2
4,13.935301,349.569415,5.190725,6.894195,489.595939,102.234294,150.085853,4.089225,1,0.216907,20.344863,92.547095,19.815123,29.543875,98.388710,41.805903,30.655044,0

In [22]:
train_df.isna().sum()

hemoglobin                   0
ferritin                 22951
ret_count                15681
segmented_neutrophils    14249
tibc                     22036
mcv                       4023
serum_iron               30799
rbc                       4023
gender                       0
creatinine               15623
cholestrol               15623
copper                   35875
ethanol                  30799
folate                   35875
glucose                  30799
hematocrit                   0
tsat                     40805
label                        0
dtype: int64

#### Replacing features

In [23]:
def miss_feature(df, feature_name, frac):
    copy_df = df.copy(deep=True)
    copy_df[feature_name] = copy_df[feature_name].sample(frac=frac)
    return copy_df

In [24]:
train_df_mcv_50 = miss_feature(train_df, 'mcv', 0.5)
train_df_mcv_50.isna().sum()

hemoglobin                   0
ferritin                 22951
ret_count                15681
segmented_neutrophils    14249
tibc                     22036
mcv                      30069
serum_iron               30799
rbc                       4023
gender                       0
creatinine               15623
cholestrol               15623
copper                   35875
ethanol                  30799
folate                   35875
glucose                  30799
hematocrit                   0
tsat                     40805
label                        0
dtype: int64

In [25]:
train_df_mcv_50.to_csv('../../final/data/train_set_mcv_50.csv', index=False)