In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
import random
import os
import torch
import sys
sys.path.append('../..')
from modules.many_features import utils, constants
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [28]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

#### The Data

In [29]:
# df = pd.read_csv('../../data/more_features/more_feats_correlated_0.1.csv')
# df = df.fillna(-1)
# df.head()

In [30]:
train_df = pd.read_csv('../../final/data/train_set_basic.csv')
train_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,9.007012,-1.000000,-1.000000,3.519565,440.499323,103.442762,59.017997,2.612173,1,0.650757,114.794964,112.308159,25.612786,5.969710,116.026042,27.021037,13.397977,1
1,8.760976,-1.000000,0.491469,-1.000000,259.895852,103.885481,-1.000000,2.529991,0,0.728641,74.824352,-1.000000,-1.000000,-1.000000,-1.000000,26.282929,-1.000000,7
2,7.490324,70.812609,-1.000000,1.495604,482.109919,79.543391,-1.000000,2.824995,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,22.470972,-1.000000,4
3,8.113370,499.313483,3.507612,0.000000,195.351883,100.545858,203.895756,2.420797,1,0.860863,9.120947,41.131511,1.843890,18.845473,106.199806,24.340111,104.373581,2
4,13.935301,349.569415,5.190725,6.894195,489.595939,102.234294,150.085853,4.089225,1,0.216907,20.344863,92.547095,19.815123,29.543875,98.388710,41.805903,30.655044,0

In [31]:
train_df.iloc[0]

hemoglobin                 9.007012
ferritin                  -1.000000
ret_count                 -1.000000
segmented_neutrophils      3.519565
tibc                     440.499323
mcv                      103.442762
serum_iron                59.017997
rbc                        2.612173
gender                     1.000000
creatinine                 0.650757
cholestrol               114.794964
copper                   112.308159
ethanol                   25.612786
folate                     5.969710
glucose                  116.026042
hematocrit                27.021037
tsat                      13.397977
label                      1.000000
Name: 0, dtype: float64

In [32]:
test_df = pd.read_csv('../../final/data/test_set_constant.csv')
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [33]:
X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]

X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

((14000, 17), (14000,))

In [34]:
# utils.get_dt_performance(df)

In [35]:
# df.label.value_counts()

In [36]:
# class_dict = constants.CLASS_DICT
# df['label'] = df['label'].replace(class_dict)
# X = df.iloc[:, 0:-1]
# y = df.iloc[:, -1]
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=SEED)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_test, y_test = np.array(X_test), np.array(y_test)
# X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [37]:
# y_test[:5]

In [38]:
# action_list = list(class_dict) + [col  for col in df.columns if col!='label']
# action_list

In [39]:
# len(action_list)

#### Testing

In [40]:
# training_env = utils.create_env(X_train, y_train)
# dqn_model = utils.load_dqn3('../../models/many_features/0.1/with_correlated_fts/constant_test_set/dqn_missing_1_6000000', 
#                             training_env)
# test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
# test_df.head()

In [46]:
dqn_model = utils.load_dqn3('../../final/models/dqn_noisy_4_missing_2_13000000')
test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)

Using stable baselines 3
Count: 2800
Count: 5600
Count: 8400
Count: 11200
Count: 14000
Testing done.....

In [47]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

92.06428571428572

In [48]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

(4.248, 0.6784285714285714)

In [49]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

(0.9206428571428571, 0.9173213529373719, 0.95321953390218)

In [50]:
test_df.y_pred.unique()

array([5., 1., 4., 0., 7., 2., 3., 6.])

In [24]:
test_df[test_df.y_pred==4]

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
2,2.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
25,25.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
27,27.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
43,43.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
54,54.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
...,...,...,...,...,...,...,...,...
13860,13860.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
13864,13864.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
13872,13872.0,7.0,1.0,4.0,4.0,"[hemoglobin, ret_count, mcv, gender, cholestro...",0.0,1.0
13902,13902.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0
13975,13975.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, tibc, ferritin, Iron deficie...",0.0,1.0

#### Saving files

In [ ]:
# for steps in [int(9.5e6), int(10e6), int(10.5e6), int(11e6), int(11.5e6), int(12e6), int(12.5e6), int(13e6), int(13.5e6), int(15e6), int(16e6), int(17e6), int(18e6), int(19e6), int(20e6), int(21e6), int(22e6), int(23e6), int(24e6)]:
#     training_env = utils.create_env(X_train, y_train)
#     dqn_model = utils.load_dqn3(f'../../models/many_features/0.1/with_correlated_fts/dqn3_by_type_noisy_6_{steps}', 
#                                 training_env)
#     test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
#     success_rate, success_df = utils.success_rate(test_df)
#     avg_length, avg_return = utils.get_avg_length_reward(test_df)
#     print(f'steps: {steps}, success_rate: {success_rate}, avg_length: {avg_length}, avg_return: {avg_return}')

In [ ]:
# test_df.to_csv(f'../../final/test_dfs/dqn_test_df_basic_6000000.csv', index=False)
# success_df.to_csv(f'../../final/test_dfs/dqn_success_df_basic_6000000.csv', index=False)

#### Confusion matrix and classification report

In [ ]:
# test_df = pd.read_csv('../../test_dfs/many_features/0.1/correlated/test_df3_missing3_12500000.csv')
# test_df.head()

In [ ]:
utils.plot_classification_report(test_df['y_actual'], test_df['y_pred'])

In [ ]:
# def plot_confusion_matrix(y_actual, y_pred, save=False, filename=False):
#     from sklearn.metrics import confusion_matrix
#     cm = confusion_matrix(y_actual, y_pred)
#     cm_df = pd.DataFrame(cm, index = [0, 1, 2, 3, 4, 5, 6], columns = [0, 1, 2, 3, 4, 5, 6], dtype='object')
#     #cm_df = pd.DataFrame(cm, index = constants.CLASS_DICT.keys(), columns = constants.CLASS_DICT.keys())
#     plt.figure(figsize=(8, 6))
#     sns.heatmap(cm_df, annot=True)
#     plt.title('Confusion Matrix')
#     plt.ylabel('Actual Anemia')
#     plt.xlabel('Predicted Anemia')
#     plt.tight_layout()
#     if save:
#         plt.savefig(filename)
#     plt.show()
#     plt.close()

In [ ]:
utils.plot_confusion_matrix(test_df['y_actual'], test_df['y_pred'])