In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### The data used

In [2]:
from sklearn.model_selection import train_test_split
df = pd.read_csv('data/anemia_synth_dataset.csv')
df = df.fillna(0)
classes = list(df.label.unique())
nums = [i for i in range(len(classes))]
class_dict = dict(zip(classes, nums))
df['label'] = df['label'].replace(class_dict)
X = df.iloc[:, 0:-1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)
X_train, y_train = np.array(X_train), np.array(y_train)
X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((19877, 8), (8519, 8), (19877,), (8519,))

In [4]:
test_df = pd.read_csv('test_dfs/test_df_1.8e6.csv')
test_df.head()

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
0,5.0,0.0,1.0,5.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",0.0,0.0
1,5.0,1.0,1.0,5.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",0.0,0.0
2,4.0,2.0,1.0,4.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'Aplasti...",2.0,2.0
3,5.0,3.0,1.0,5.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",0.0,0.0
4,5.0,4.0,1.0,5.0,0.0,"['mentzer_index', 'rbc', 'ret_count', 'mcv', '...",0.0,0.0

In [3]:
def get_min_of_array(array, n):
    '''The n least elements in an array'''
    idx = np.argpartition(array, n)
    min_vals = array[idx[:n]]
    return min_vals

In [11]:
X_test_df = pd.concat([pd.DataFrame(X_test), pd.DataFrame(y_test)], axis=1)
X_test_df.columns = df.columns
X_test_df.head()

,ferritin,ret_count,segmented_neutrophils,iron,tibc,rbc,mcv,mentzer_index,label
0,0.0,5.484610,0.0,0.0,0.0,2.986046,89.784378,30.067982,0
1,0.0,2.417689,0.0,0.0,0.0,2.641810,82.207003,31.117682,0
2,0.0,0.297563,0.0,0.0,0.0,2.068400,86.434575,41.788127,2
3,0.0,6.709576,0.0,0.0,0.0,3.411893,86.804045,25.441608,0
4,0.0,2.913398,0.0,0.0,0.0,3.214826,87.285235,27.150841,0

In [16]:
a1 = np.array(test_df['y_actual'], dtype=np.float32)
a2 = np.array(X_test_df['label'], dtype=np.float32)
assert np.array_equal(a1, a2)

#### 1 - Anemia of chronic disease

In [18]:
acd_test_df = test_df[test_df.y_pred == 1]
acd_x_test_df = X_test_df[X_test_df.label== 1]

In [20]:
#rows with tibc in their trajectory
tibc_acd_df = pd.DataFrame()
count=0
for i, row in acd_test_df.iterrows():
    try:
        traj = ast.literal_eval(row.trajectory)
    except:
        traj = row.trajectory
    if 'tibc' in traj:
        tibc_acd_df = tibc_acd_df.append(row)
tibc_acd_df

,episode_length,index,is_success,reward,terminated,trajectory,y_actual,y_pred
6523,7.0,6523.0,0.0,5.0,0.0,"['mentzer_index', 'rbc', 'iron', 'mcv', 'ferri...",3.0,1.0

In [ ]:
X_

In [30]:
acd_x_test_df.loc[6523]

KeyError: 6523