In [24]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

#### Creating dataset

In [25]:
def assign_label(x):
    if x.length == 0:
        if x.width == 0:
            if x.height == 0:
                return 0
            else:
                return 1
        else:
            return 2
    else:
        if x.width == 0:
            return 0
        else:
            if x.height == 0:
                return 2
            else:
                return 1

In [26]:
np.random.choice([0,1], 20)

array([1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0])

In [27]:
def create_dataset(sample_num):
    np.random.seed(42)
    df = pd.DataFrame(columns = ['length', 'width', 'height'])
    df['length'] = np.random.choice([0, 1], sample_num)
    df['width'] = np.random.choice([0, 1], sample_num)
    df['height'] = np.random.choice([0, 1], sample_num)
    df['label'] = df.apply(lambda row: assign_label(row), axis=1)
    return df

In [28]:
def save_dataset(df, filename):
    df.to_csv(f'data/{filename}', index=False)

In [29]:
df = create_dataset(1000)
df.head()

   length  width  height  label
0       0      1       0      2
1       1      0       1      0
2       0      0       1      1
3       0      0       1      1
4       0      0       1      1

In [30]:
save_dataset(df, 'dataset_q_1000.csv')

#### Balancing the data

In [31]:
df = pd.read_csv('data/dataset_q_1000.csv')
df.head()

   length  width  height  label
0       0      1       0      2
1       1      0       1      0
2       0      0       1      1
3       0      0       1      1
4       0      0       1      1

In [32]:
def balance_dataset(df):
    balanced_df = pd.DataFrame()
    n = df.label.value_counts().iloc[-1]
    for label in df.label.unique():
        lb_df = df[df.label==label]
        balanced_df = balanced_df.append(lb_df[:n])
    balanced_df = balanced_df.sample(frac=1).reset_index(drop=True)
    return balanced_df

In [33]:
balanced_df = balance_dataset(df)
balanced_df.head()

   length  width  height  label
0       0      0       0      0
1       1      1       1      1
2       1      0       0      0
3       0      1       0      2
4       1      1       1      1

In [34]:
balanced_df.label.value_counts()

2    250
1    250
0    250
Name: label, dtype: int64

In [35]:
save_dataset(balanced_df, 'balanced_q_dataset.csv')