In [8]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')
from modules import utils, constants
from modules.env import AnemiaEnv
import stable_baselines
from stable_baselines.common.vec_env import DummyVecEnv

In [9]:
seed = constants.SEED

In [10]:
def load_model(filepath, model_type, env):
    if model_type.lower() == 'dqn3': #dqn3
        return stable_baselines3.DQN.load(filepath, env=env)
    elif model_type.lower() == 'dqn': #dqn
        return stable_baselines.DQN.load(filepath, env=env)
    else:
        raise ValueError(f'Unknown model type {model_type}')

In [11]:
def create_test_df(model_path, model_type, X_test, y_test):
    testing_env = DummyVecEnv([lambda: AnemiaEnv(X_test, y_test, random=False)])
#     testing_env = LupusEnv(X_test, y_test, random=False)
#     testing_env.seed(SEED)
    model = load_model(model_path, model_type, testing_env)
    test_df = pd.DataFrame()
    try:
        while True:
            obs, done = testing_env.reset(), False
            while not done:
                action, states = model.predict(obs, deterministic=True)
                obs, rew, done, info = testing_env.step(action)
                if done==True:
                    test_df = test_df.append(info, ignore_index=True)

    except StopIteration:
        pass
    return test_df

#### The data

In [12]:
testing_df = pd.read_csv('../data/test_set_constant.csv')
testing_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [13]:
X_test = testing_df.iloc[:, 0:-1]
y_test = testing_df.iloc[:, -1]
X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

((14000, 17), (14000,))

In [14]:
# test_df = create_test_df('../models/logs/sb/dueling_ddqn/best_acc_model.zip', 'dqn', X_test, y_test)
test_df = create_test_df('../models/dueling_double_dqn_basic_anemia_diagnosis.zip', 'dqn', X_test, y_test)
test_df.head()

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/common/misc_util.py:26: The name tf.set_random_seed is deprecated. Please use tf.compat.v1.set_random_seed instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/common/tf_util.py:191: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/common/tf_util.py:200: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/dqn.py:129: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:358: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:359: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:139: The name tf.get_variable is deprecated. Please use tf.compat.v1.get_variable instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/policies.py:109: flatten (from tensorflow.python.layers.core) is deprecated and will be removed in a future version.
Instructions for updating:
Use keras.layers.flatten instead.
WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/tensorflow_core/python/layers/core.py:332: Layer.apply (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.__call__` method instead.
WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:147: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:149: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:372: The name tf.get_collection is deprecated. Please use tf.compat.v1.get_collection instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:372: The name tf.GraphKeys is deprecated. Please use tf.compat.v1.GraphKeys instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:372: The name tf.get_variable_scope is deprecated. Please use tf.compat.v1.get_variable_scope instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:415: The name tf.summary.scalar is deprecated. Please use tf.compat.v1.summary.scalar instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/deepq/build_graph.py:449: The name tf.summary.merge_all is deprecated. Please use tf.compat.v1.summary.merge_all instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/common/tf_util.py:241: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /home/lmuyama/anaconda3/envs/ml4hc_env/lib/python3.7/site-packages/stable_baselines/common/tf_util.py:242: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success,terminal_observation
0,0,4,-1,7,5,"[serum_iron, mcv, glucose, Inconclusive diagno...",True,False,"[-1.0, -1.0, -1.0, -1.0, -1.0, 95.9042, 68.457..."
1,2,2,-1,7,4,"[serum_iron, Inconclusive diagnosis]",True,False,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...."
2,4,2,-1,7,7,"[serum_iron, Inconclusive diagnosis]",True,True,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...."
3,6,2,-1,7,1,"[serum_iron, Inconclusive diagnosis]",True,False,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...."
4,8,2,-1,7,1,"[serum_iron, Inconclusive diagnosis]",True,False,"[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1...."

In [15]:
success_rate, f1, roc_auc = utils.get_metrics(test_df)
success_rate, f1, roc_auc

(9.77142857142857, 2.225403435710567, 50.0)

In [16]:
test_df.episode_length.min(), test_df.episode_length.mean(), test_df.episode_length.max()

(2, 3.34, 10)

In [ ]:
# test_df.to_csv('../test_dfs/23_03_23/dueling_double_dqn_basic_test_df.csv', index=False)