In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('..')
from modules import utils, constants, env
from modules.dt_agent import DTAgent
from sklearn.model_selection import train_test_split

In [2]:
SEED = constants.SEED
np.random.seed(SEED)

#### The data

In [4]:
test_df = pd.read_csv('../data/test_set_constant.csv')
test_df = test_df.fillna(-1)
test_df.head()

,hemoglobin,ferritin,ret_count,segmented_neutrophils,tibc,mcv,serum_iron,rbc,gender,creatinine,cholestrol,copper,ethanol,folate,glucose,hematocrit,tsat,label
0,7.116363,-1.000000,3.781573,2.738413,-1.000000,95.904198,68.457895,2.226085,0,1.892912,39.808550,110.329197,64.404350,21.654404,73.787009,21.349089,-1.000000,5
1,8.125320,92.230003,4.231419,1.188039,143.365567,104.057204,204.747831,2.342554,0,0.652614,13.478089,-1.000000,32.705481,-1.000000,43.520272,24.375961,142.815207,1
2,11.309450,38.324563,-1.000000,-1.000000,455.077909,76.402602,-1.000000,4.440732,0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,33.928350,-1.000000,4
3,13.763858,253.513394,2.262606,0.551444,453.772884,82.781943,90.101466,4.987993,0,0.853521,104.005514,34.639227,0.963866,22.083012,88.891838,41.291574,19.856071,0
4,11.464002,-1.000000,-1.000000,-1.000000,320.964653,104.287127,-1.000000,3.297819,0,1.163516,121.616315,105.895897,-1.000000,9.337462,-1.000000,34.392007,-1.000000,7

In [5]:
X_test = test_df.iloc[:, 0:-1]
y_test = test_df.iloc[:, -1]
X_test, y_test = np.array(X_test), np.array(y_test)

#### The DT Agent

In [6]:
%%time
dt_agent = DTAgent(X_test, y_test)
test_df = dt_agent.test()
test_df.head()

Testing done.....
CPU times: user 17.5 s, sys: 15 ms, total: 17.5 s
Wall time: 17.5 s

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,0.0,4.0,1.0,5.0,5.0,"[hemoglobin, mcv, ret_count, Hemolytic anemia]",0.0,1.0
1,1.0,4.0,1.0,1.0,1.0,"[hemoglobin, mcv, segmented_neutrophils, Vitam...",0.0,1.0
2,2.0,5.0,1.0,4.0,4.0,"[hemoglobin, mcv, ferritin, tibc, Iron deficie...",0.0,1.0
3,3.0,2.0,1.0,0.0,0.0,"[hemoglobin, No anemia]",0.0,1.0
4,4.0,4.0,1.0,7.0,7.0,"[hemoglobin, mcv, segmented_neutrophils, Incon...",0.0,1.0

In [7]:
len(test_df), len(X_test)

(14000, 14000)

In [10]:
success_rate, f1, roc_auc = utils.get_metrics(test_df)
success_rate, f1, roc_auc

(100.0, 100.0, 100.0)

In [9]:
avg_length = test_df.episode_length.mean()
avg_length

3.975