In [1]:
import pandas as pd
import numpy as np
import random
import os
import torch
import sys
sys.path.append('../')
from modules import utils, constants

In [2]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
torch.manual_seed(SEED)
torch.use_deterministic_algorithms(True)

In [3]:
testing_df = pd.read_csv('../data/18_jan/test_set_basic.csv')
testing_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
0,1,0,0,0,0,1,0,1,0,0,...,1,0,0,1,0,1,0,0,0,1
1,1,0,0,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,1
2,1,0,1,1,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
3,1,1,0,0,0,1,0,0,1,0,...,0,1,1,1,0,0,0,0,0,1
4,1,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
len(testing_df[testing_df.ana == 0])

3988

In [5]:
testing_df.tail()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
13995,1,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
13996,1,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
13997,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
13998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [6]:
X_test = testing_df.iloc[:, 0:-1]
y_test = testing_df.iloc[:, -1]

X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

((14000, 23), (14000,))

In [26]:
dqn_model = utils.load_dqn3('../models/21_jan/dqn_basic_1000000')
test_df = utils.evaluate_dqn(dqn_model, X_test, y_test)
test_df.head()

Using stable baselines 3
Count: 2800
Count: 5600
Count: 8400
Count: 11200
Count: 14000
Testing done.....

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,score,is_success
0,0.0,8.0,1.0,1.0,1.0,"[ana, pericardial_effusion, thrombocytopenia, ...",0.0,2.0,1.0
1,1.0,5.0,1.0,1.0,1.0,"[ana, pericardial_effusion, oral_ulcers, throm...",False,5.0,True
2,2.0,5.0,1.0,1.0,1.0,"[ana, pericardial_effusion, oral_ulcers, throm...",False,9.0,True
3,3.0,5.0,1.0,1.0,1.0,"[ana, pericardial_effusion, oral_ulcers, throm...",False,5.0,True
4,4.0,8.0,-1.0,1.0,0.0,"[ana, pericardial_effusion, thrombocytopenia, ...",False,0.0,False

In [27]:
test_df.episode_length.min(), test_df.episode_length.max()

(4.0, 11.0)

In [28]:
test_df[test_df.y_pred == 0]

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,score,is_success
9,9.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
15,15.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
16,16.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
22,22.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
25,25.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
...,...,...,...,...,...,...,...,...,...
13988,13988.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
13993,13993.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
13994,13994.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
13998,13998.0,5.0,1.0,0.0,0.0,"[ana, pericardial_effusion, auto_immune_hemoly...",False,0.0,True
13999,13999.0,9.0,1.0,0.0,0.0,"[ana, pericardial_effusion, oral_ulcers, joint...",False,0.0,True

In [29]:
success_rate, success_df = utils.success_rate(test_df)
success_rate

80.25

In [30]:
avg_length, avg_return = utils.get_avg_length_reward(test_df)
avg_length, avg_return

(6.496642857142857, 0.605)

In [31]:
acc, f1, roc_auc = utils.test(test_df['y_actual'], test_df['y_pred'])
acc, f1, roc_auc

(80.25, 79.11844550134636, 79.52761735524952)

In [32]:
test_df.y_pred.value_counts()

1.0    10012
0.0     3988
Name: y_pred, dtype: int64

In [33]:
test_df.y_actual.value_counts()

1.0    7247
0.0    6753
Name: y_actual, dtype: int64

#### Saving files

In [ ]:
#test_df.to_csv(f'../test_dfs/dqn_test_df_balanced_14000000.csv', index=False)
#success_df.to_csv(f'../test_dfs/dqn_success_df_balanced_14000000.csv', index=False)