In [55]:
import pandas as pd
import numpy as np
import random
import seaborn as sns
from scipy.stats import truncnorm
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)

#### Demographics

In [57]:
lupus_df = pd.DataFrame()
#lupus_df['gender']= np.random.choice([0, 1], 70000, p=[0.5, 0.5])
lupus_df.head()

Empty DataFrame
Columns: []
Index: []

#### Entry criterion

In [58]:
lupus_df['ana'] = np.random.choice([1, 0], 70000, p=[0.5, 0.5])
lupus_df.head()

   ana
0    1
1    0
2    0
3    0
4    1

In [59]:
lupus_df.ana.value_counts()

0    35044
1    34956
Name: ana, dtype: int64

#### Additional criteria

In [240]:
criteria_weights = {'fever':2, 'leukopenia':3, 'thrombocytopenia':4, 'auto_immune_hemolysis':4, 'delirium':2, 
                    'psychosis':3, 'seizure':5, 'non_scarring_alopecia':2, 'oral_ulcers':2, 'subacute_cutaneous':4, 
                    'discoid_lupus':4, 'acute_cutaneous_lupus':6, 'pleural_effusion': 5, 'pericardial_effusion':5, 
                    'acute_pericarditis':6, 'joint_involvement':6, 'proteinuria':4, 'renal_biopsy_2_5':8, 
                    'renal_biopsy_3_4': 10, 'anti_cardioliphin_antibodies':2, 'anti_b2gp4_antibodies':2, 
                    'lupus_anti_coagulant':2, 'low_c3_or_low_c4':3, 'low_c3_and_low_c4':4, 'anti_dsdna_antibody':6, 
                    'anti_smith_antibody':6,}

In [61]:
def get_truncated_normal(mean=0, sd=1, low=0, upp=10, size=100):
    return truncnorm(
        (low - mean) / sd, (upp - mean) / sd, loc=mean, scale=sd).rvs(size=size)

In [62]:
lupus_df['fever'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['leukopenia'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['thrombocytopenia'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['auto_immune_hemolysis'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['delirium'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['psychosis'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['seizure'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['non_scarring_alopecia'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['oral_ulcers'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['subacute_cutaneous'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['discoid_lupus'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['acute_cutaneous_lupus'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['pleural_effusion'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['pericardial_effusion'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['acute_pericarditis'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['joint_involvement'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['proteinuria'] = get_truncated_normal(0.05, 1, 0, 3, 70000)
lupus_df['renal_biopsy_class'] = np.random.choice([0, 1, 2, 3, 4, 5, np.nan], 70000, p=[0.05, 0.05, 0.1, 0.05, 0.05, 0.1, 0.60])
lupus_df['anti_cardioliphin_antibodies'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['anti_b2gp4_antibodies'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['lupus_anti_coagulant'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['c3'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['c4'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['anti_dsdna_antibody'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df['anti_smith_antibody'] = np.random.choice([0, 1, np.nan], 70000, p=[0.15, 0.15, 0.70])
lupus_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,renal_biopsy_class,anti_cardioliphin_antibodies,anti_b2gp4_antibodies,lupus_anti_coagulant,c3,c4,anti_dsdna_antibody,anti_smith_antibody
0,1,0.0,0.0,NaN,NaN,NaN,NaN,1.0,0.0,0.0,...,NaN,0.142219,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1,0,NaN,NaN,NaN,1.0,NaN,0.0,NaN,1.0,NaN,...,NaN,1.272372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,0.0,1.113889,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.794913,5.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0
4,1,1.0,1.0,NaN,1.0,NaN,NaN,0.0,NaN,NaN,...,1.0,0.895061,2.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0

In [63]:
domains_feat_dict = {'constitutional': ['fever'],
                'hematologic': ['leukopenia', 'thrombocytopenia', 'auto_immune_hemolysis'],
                'neuropsychiatric': ['delirium', 'psychosis', 'seizure'],
                'mucocutaneous': ['non_scarring_alopecia', 'oral_ulcers', 'subacute_cutaneous', 'discoid_lupus', 'acute_cutaneous_lupus'],
                'serosal': ['pleural_effusion', 'pericardial_effusion', 'acute_pericarditis'],
                'musculoskeletal': ['joint_involvement'],
                'renal': ['proteinuria', 'renal_biopsy_class'],
                'antiphospholipid_antibodies': ['anti_cardioliphin_antibodies', 'anti_b2gp4_antibodies', 'lupus_anti_coagulant'],
                'complement_proteins': ['c3', 'c4'],
                'sle_specific_antibodies':['anti_dsdna_antibody', 'anti_smith_antibody']}

domains_max_scores_dict = {'constitutional': 2, 'hematologic': 4, 'neuropsychiatric': 5, 'mucocutaneous': 6,
                           'serosal': 6, 'musculoskeletal': 6, 'renal': 10, 'antiphospholipid_antibodies': 2, 
                           'complement_proteins': 4, 'sle_specific_antibodies':6}

#### Labelling the dataset

In [64]:
def get_renal_biopsy_score(result_class):
    if (result_class == 3) | (result_class == 4):
        return 10
    elif (result_class == 2) | (result_class == 5):
        return 8
    else:
        return 0

In [65]:
def get_proteinura_score(amount):
    if amount > 0.5:
        return 4
    else:
        return 0

In [66]:
def get_feat_score(row, feat):
    if feat == 'proteinuria':
        feat_score = get_proteinura_score(row[feat])
    elif feat == 'renal_biopsy_class':
        feat_score = get_renal_biopsy_score(row[feat])
    elif row[feat] <= 0:
        feat_score = 0
    else:
        feat_score = criteria_weights[feat]
    return feat_score

In [67]:
def get_c3_c4_score(c3, c4): # 0 - low, 1 is not low
    if (c3 == 0) & (c4 == 0):
        return criteria_weights['low_c3_and_low_c4']
    elif (c3 == 0) | (c4 == 0):
        return criteria_weights['low_c3_or_low_c4']
    else:
        return 0

In [68]:
def get_domain_score(row, domain):
    domain_features = domains_feat_dict[domain]
    #print(f'{domain} domain: {domain_features}')
    domain_score = 0
    if domain == 'complement_proteins':
        domain_score = get_c3_c4_score(row.c3, row.c4)
        domain_features = list(set(domain_features) - set(['c3', 'c4']))
    for feat in domain_features:
        if row[feat] >= 0:
            feat_score = get_feat_score(row, feat)
            #print(f'{feat} feature - {feat_score}')
            if feat_score > domain_score:
                domain_score = feat_score
    print(f'{domain} domain: {domain_score}')
    return domain_score

In [69]:
def create_label(row):
    if row['ana'] == 0:
        return 0
    total_row_score = 0
    for domain in domains_feat_dict.keys():
        domain_score = get_domain_score(row, domain)
        total_row_score += domain_score
        if total_row_score >= 10:
            return 1
    else:
        return 0

In [70]:
def compute_score(row):
    if row['ana'] == 0: # negative - 0 positive - 1
        return 0
    total_row_score = 0
    for domain in domains_feat_dict.keys():
        domain_score = get_domain_score(row, domain)
        total_row_score += domain_score
    return total_row_score

In [346]:
lupus_df[(lupus_df.anti_dsdna_antibody==0) & (lupus_df.anti_smith_antibody==0)]
#lupus_df[(lupus_df.anti_cardioliphin_antibodies ==1) & (lupus_df.anti_b2gp4_antibodies==1)]

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,renal_biopsy_class,anti_cardioliphin_antibodies,anti_b2gp4_antibodies,lupus_anti_coagulant,c3,c4,anti_dsdna_antibody,anti_smith_antibody
23,1,0.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,0.661029,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0
30,0,NaN,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,0.325456,1.0,NaN,NaN,0.0,NaN,NaN,0.0,0.0
87,0,NaN,NaN,NaN,0.0,NaN,1.0,NaN,NaN,NaN,...,NaN,0.273999,NaN,0.0,NaN,0.0,1.0,NaN,0.0,0.0
107,0,0.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,1.993891,5.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0
182,0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,0.267693,5.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69642,1,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.864156,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0
69656,1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,1.446464,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0
69686,0,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,0.840094,0.0,NaN,1.0,NaN,1.0,NaN,0.0,0.0
69876,1,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,0.399787,1.0,NaN,1.0,0.0,0.0,NaN,0.0,0.0
69952,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.059199,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0

#### delete from here

In [340]:
idx = 23

In [341]:
lupus_df.iloc[idx]

ana                             1.000000
fever                           0.000000
leukopenia                           NaN
thrombocytopenia                1.000000
auto_immune_hemolysis                NaN
delirium                             NaN
psychosis                       1.000000
seizure                              NaN
non_scarring_alopecia                NaN
oral_ulcers                          NaN
subacute_cutaneous                   NaN
discoid_lupus                        NaN
acute_cutaneous_lupus           0.000000
pleural_effusion                     NaN
pericardial_effusion                 NaN
acute_pericarditis              1.000000
joint_involvement                    NaN
proteinuria                     0.661029
renal_biopsy_class                   NaN
anti_cardioliphin_antibodies         NaN
anti_b2gp4_antibodies           0.000000
lupus_anti_coagulant                 NaN
c3                                   NaN
c4                                   NaN
anti_dsdna_antibody             0.000000
anti_smith_antibody             0.000000
Name: 23, dtype: float64

In [342]:
my_sample_row = lupus_df.iloc[idx]

In [343]:
my_sample_score = compute_score(my_sample_row)
my_sample_score

constitutional domain: 0
hematologic domain: 4
neuropsychiatric domain: 3
mucocutaneous domain: 0
serosal domain: 6
musculoskeletal domain: 0
renal domain: 4
antiphospholipid_antibodies domain: 0
complement_proteins domain: 0
sle_specific_antibodies domain: 0

17

In [344]:
my_sample_label = create_label(my_sample_row)
my_sample_label

constitutional domain: 0
hematologic domain: 4
neuropsychiatric domain: 3
mucocutaneous domain: 0
serosal domain: 6

1

#### Stop here

In [ ]:
lupus_df['score'] = lupus_df.apply(lambda row: compute_score(row), axis=1)
lupus_df['label'] = lupus_df.apply(lambda row: create_label(row), axis=1)
lupus_df.head()

In [ ]:
lupus_df[(lupus_df.ana==0) & (lupus_df.label==1)]

In [ ]:
lupus_df.label.value_counts()

In [ ]:
lupus_df.isna().sum()

In [ ]:
a = lupus_df[(lupus_df.ana == 1) & (lupus_df.label == 0)] # i need at least 20000 here
len(a)

In [ ]:
a.iloc[0]

#### Testing dataset

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize, LabelBinarizer
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score
from sklearn.metrics import roc_curve, auc

In [ ]:
lupus_df = lupus_df.fillna(-1)
X = lupus_df.iloc[:, 0:-1]
y = lupus_df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42, stratify=y)
#X_train, y_train = np.array(X_train), np.array(y_train)
#X_test, y_test = np.array(X_test), np.array(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=42).fit(X_train, y_train)
y_pred_dt = dt.predict(X_test)
accuracy_score(y_test, y_pred_dt) # probably because the ana is enough for that

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42).fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
accuracy_score(y_test, y_pred_rf)

In [ ]:
import xgboost as xgb
xg = xgb.XGBClassifier(random_state=42).fit(X_train, y_train)
y_pred_xg = xg.predict(X_test)
accuracy_score(y_test, y_pred_xg)

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
#mmc = MinMaxScaler()
#X_train = mmc.fit_transform(X_train)
#X_train[['proteinuria']] = mmc.fit_transform(X_train[['proteinuria']])
#X_test[['proteinuria']] = mmc.fit_transform(X_test[['proteinuria']])
svm_model = SVC(kernel='linear', C=1, decision_function_shape='ovo', random_state=42).fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
accuracy_score(y_test, y_pred_svm)

#### Rules for classification

In [ ]:
def has_fever(row):
    if row.body_temp > 37.8:
        return True
    elif row.body_temp >0:
        return False
    else:
        return None

In [ ]:
def has_leukopenia(row):
    if row.wbc < 4000:
        return True
    elif row.wbc > 0:
        return False
    else:
        return None

In [ ]:
def has_thrombocytopenia(row):
    if row.wbc < 4000:
        return True
    elif row.wbc > 0:
        return False
    else:
        return None