In [3]:
import pandas as pd
import numpy as np
import random
import os
import tensorflow as tf
import sys
sys.path.append('..')
from modules import utils, constants 
from modules.env import LupusEnv

In [4]:
SEED = 42
random.seed(SEED)
np.random.seed(SEED)
os.environ['PYTHONHASHSEED']=str(SEED)
tf.set_random_seed(SEED)
tf.compat.v1.set_random_seed(SEED)
SEED

42

In [5]:
test_data = pd.read_csv('../new_data/test_set_constant.csv')
test_data = test_data.fillna(-1)
test_data.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,proteinuria,biopsy_proven_lupus_nephritis,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
0,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,4,1,0,0,0,1,0,0,1

In [6]:
X_test = test_data.iloc[:, 0:-1]
y_test = test_data.iloc[:, -1]
X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

((14000, 24), (14000,))

In [ ]:
model_name = 'dueling_ddqn_per'
steps = int(10e7)

#### Delete from here

In [7]:
test_df = pd.read_csv('../test_dfs/dueling_ddqn_per_biopsy_3_best_path_pahm_105_100000000.csv')
test_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,0.0,6.0,0.833333,1.0,1.0,"['ana', 'pericardial_effusion', 'anti_dsdna_an...",0.0,1.0
1,1.0,11.0,0.666667,0.0,0.0,"['ana', 'pericardial_effusion', 'anti_dsdna_an...",0.0,1.0
2,2.0,6.0,0.833333,1.0,1.0,"['ana', 'pericardial_effusion', 'joint_involve...",0.0,1.0
3,3.0,11.0,0.666667,0.0,0.0,"['ana', 'pericardial_effusion', 'anti_dsdna_an...",0.0,1.0
4,4.0,12.0,0.633333,1.0,1.0,"['ana', 'pericardial_effusion', 'anti_dsdna_an...",0.0,1.0

In [25]:
testing_df = pd.read_csv('../new_data/test_set_constant.csv')
testing_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,proteinuria,biopsy_proven_lupus_nephritis,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
0,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,4,1,0,0,0,1,0,0,1

In [33]:
import ast

In [71]:
a = [1, 2, 3]
b = a.copy()
b

[1, 2, 3]

In [72]:
a.append(4)
b

[1, 2, 3]

In [99]:
def get_threshold_value(df, source): #source e.g. 'ana'
    threshold_values = df[source].unique().tolist()
    if len(threshold_values) == 1:
        return int(threshold_values[0])
    else:
        return str(threshold_values)

#### Pathways to test

In [207]:
def get_distinct_pathways(test_df): #change to test_df after
    unique_path_list = []
    
    for path in test_df.trajectory.unique():
        path_features = ast.literal_eval(path)
        fts = [i for i in path_features if i not in ['Lupus', 'No lupus']]
        print(path_features)
        path_df = test_df[test_df.trajectory == path]
        path_testing_df = testing_df.loc[path_df.index][fts]
        path_ft_vals_vc = path_testing_df.value_counts()
        path_unique_vals_lists = path_ft_vals_vc.index.to_list()
        path_sample_nums = path_ft_vals_vc.values
        
        for i in range(len(path_unique_vals_lists)):
            unique_path_list.append(
                {'features':path_features, 'values':path_unique_vals_lists[i], 'sample_num':path_sample_nums[i]}
            )
    return unique_path_list

In [23]:
def get_weighted_mean_with_path_values(test_df):
    weighted_mean = 0
    
    distinct_pathways = get_distinct_pathways(test_df)
    
    return weighted_mean

In [24]:
get_weighted_mean(test_df)

142.88475982659568

In [12]:
distinct_acc_list = []
distinct_score_list = []
distinct_acc_score = 0
for distinct_path in distinct_pathways:
    distinct_path_df = test_df[test_df.trajectory==distinct_path]
    sample_num = len(distinct_path_df)
    correct_sample_num = len(distinct_path_df[distinct_path_df.y_actual==distinct_path_df.y_pred])
    distinct_path_acc = correct_sample_num/sample_num
    distinct_acc_list.append(distinct_path_acc)
    
    distinct_path_score = utils.get_pathway_score(distinct_path)
    distinct_score_list.append(distinct_path_score)
    
#     print(distinct_path_acc*distinct_path_score)
    distinct_acc_score +=distinct_path_acc*distinct_path_score
distinct_acc_score

142.88475982659568

In [14]:
min(distinct_acc_list), np.mean(distinct_acc_list), max(distinct_acc_list)

(0.0, 0.9017861643687605, 1.0)

In [15]:
min(distinct_score_list), np.mean(distinct_score_list), max(distinct_score_list)

(0.0, 0.2148253068932956, 0.9594356261022927)

In [16]:
a = 0
for i in range(len(distinct_acc_list)):
    a += distinct_acc_list[i]*distinct_score_list[i]
a

142.88475982659568

#### end here

In [ ]:
# dqn_model_acc = utils.load_dqn(f'../models/logs/{model_name}/biopsy_3/seed_{SEED}_{steps}/best_acc_model.zip')
# test_df = utils.evaluate_dqn(dqn_model_acc, X_test, y_test)
# acc, f1, roc_auc = utils.test(test_df.y_actual, test_df.y_pred)
# acc_ft_score = utils.total_acc_feature_score(test_df)
# print(f'{model_name}: {acc_ft_score}, {acc}, {f1}, {roc_auc}, {test_df.episode_length.min()}, {test_df.episode_length.mean()}, {test_df.episode_length.max()}')
# print(f'{model_name}: {acc_ft_score}')

In [ ]:
dqn_model_acc_ft = utils.load_dqn(f'../models/logs/{model_name}/biopsy_7/seed_{SEED}_{steps}/best_weighted_pahm_model_9_1.zip')
# dqn_model_acc_ft = utils.load_dqn(f'../models/logs/{model_name}/biopsy_without_cost/seed_{SEED}_{steps}/best_acc_model.zip')
test_df = utils.evaluate_dqn(dqn_model_acc_ft, X_test, y_test)
acc, f1, roc_auc = utils.test(test_df.y_actual, test_df.y_pred)
pathway_score = utils.total_pathway_score(test_df)
pahm_score = utils.pahm_score(acc, pathway_score)
wpahm_score = utils.weighted_pahm_score([acc, pathway_score], [0.9, 0.1])
print(f'{model_name}: {pathway_score}, {pahm_score}, {wpahm_score}, {acc}, {f1}, {roc_auc}, {test_df.episode_length.min()}, {test_df.episode_length.mean()}, {test_df.episode_length.max()}')

In [ ]:
# test_df.to_csv(f'../test_dfs/{model_name}_biopsy_3_best_path_pahm_{SEED}_{steps}.csv', index=False)