In [2]:
import pandas as pd
import numpy as np
import ast
import sys
sys.path.append('../')
from modules import constants,utils

In [3]:
def get_total_feature_costs(pathway):
    if isinstance(pathway, str):
        pathway = ast.literal_eval(pathway)
    total_feature_cost = 0
    for feat in pathway[:-1]:
        feat_score = constants.RISK_FACTORS[feat]
        total_feature_cost += feat_score
    return total_feature_cost

In [ ]:
pathway = str(['ana', 'fever','No lupus'])
pathway

In [ ]:
ast.literal_eval(pathway)

In [ ]:
get_total_feature_costs(pathway)

#### To  delete ---- testing something

In [6]:
df = pd.read_csv('../test_dfs/dueling_ddqn_per_biopsy_with_cost_63_100000000.csv')
df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,0.0,13.0,0.600000,1.0,1.0,"['ana', 'delirium', 'anti_cardioliphin_antibod...",0.0,1.0
1,1.0,19.0,0.400000,0.0,0.0,"['ana', 'delirium', 'anti_cardioliphin_antibod...",0.0,1.0
2,2.0,15.0,0.533333,1.0,1.0,"['ana', 'delirium', 'anti_cardioliphin_antibod...",0.0,1.0
3,3.0,17.0,0.466667,0.0,0.0,"['ana', 'delirium', 'anti_cardioliphin_antibod...",0.0,1.0
4,4.0,5.0,0.866667,1.0,1.0,"['ana', 'delirium', 'anti_cardioliphin_antibod...",0.0,1.0

In [8]:
# df['score'] = df.apply(lambda row: utils.total_acc_feature_score(row), axis=1)
# df.head(10)

In [ ]:
# df.score.mean()

In [10]:
utils.total_acc_feature_score(df)/len(df)

9.294030281499008