In [1]:
import pandas as pd
import numpy as np

In [2]:
testing_df = pd.read_csv('../data/test_set_constant.csv')
testing_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
2,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,1,0,0,0,1
3,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,1
4,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,1

In [3]:
model_name = 'dueling_dqn_per'
seed = 84
steps = int(10e7)

In [4]:
test_df = pd.read_csv(f'../test_dfs/{model_name}_risk_factor_{seed}_{steps}.csv')
test_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,0.0,12.0,0.564819,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
1,1.0,13.0,0.501479,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
2,2.0,12.0,0.540303,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
3,3.0,10.0,0.646010,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
4,4.0,10.0,0.649264,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0

In [5]:
combined_test_df = pd.concat([testing_df, test_df], axis=1)
combined_test_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,anti_smith_antibody,label,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0.0,12.0,0.564819,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
1,1,1,0,0,0,0,0,0,0,0,...,0,1,1.0,13.0,0.501479,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
2,1,0,0,0,0,0,1,0,0,0,...,0,1,2.0,12.0,0.540303,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
3,1,1,0,0,0,0,0,0,1,0,...,0,1,3.0,10.0,0.646010,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0
4,1,0,0,0,0,0,0,0,1,0,...,0,1,4.0,10.0,0.649264,1.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,1.0

In [6]:
misdiag_test_df = test_df[test_df.y_actual != test_df.y_pred]
len(misdiag_test_df)

146

#### Misdiagnosed 'No lupus' episodes as 'Lupus'

In [7]:
misdiag_no_lupus_as_lupus_df = misdiag_test_df[misdiag_test_df.y_pred==1]
misdiag_no_lupus_as_lupus_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
235,235.0,23.0,-2.033340,1.0,0.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
348,348.0,20.0,-1.841210,1.0,0.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
505,505.0,22.0,-1.970840,1.0,0.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
573,573.0,20.0,-1.856766,1.0,0.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
709,709.0,21.0,-1.896766,1.0,0.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0

In [11]:
len(misdiag_no_lupus_as_lupus_df.trajectory.unique())

40

In [8]:
misdiag_no_lupus_as_lupus_df.trajectory.value_counts()[:3]

['ana', 'joint_involvement', 'anti_dsdna_antibody', 'low_c3', 'psychosis', 'anti_smith_antibody', 'pleural_effusion', 'proteinuria', 'leukopenia', 'fever', 'non_scarring_alopecia', 'low_c4', 'pericardial_effusion', 'cutaneous_lupus', 'seizure', 'delirium', 'lupus_anti_coagulant', 'thrombocytopenia', 'Lupus']                                                                                                     4
['ana', 'joint_involvement', 'anti_dsdna_antibody', 'low_c3', 'fever', 'psychosis', 'proteinuria', 'leukopenia', 'non_scarring_alopecia', 'anti_smith_antibody', 'cutaneous_lupus', 'low_c4', 'pleural_effusion', 'pericardial_effusion', 'seizure', 'oral_ulcers', 'thrombocytopenia', 'anti_cardioliphin_antibodies', 'delirium', 'lupus_anti_coagulant', 'anti_β2gp1_antibodies', 'auto_immune_hemolysis', 'Lupus']    4
['ana', 'joint_involvement', 'anti_dsdna_antibody', 'low_c3', 'anti_smith_antibody', 'fever', 'non_scarring_alopecia', 'psychosis', 'leukopenia', 'low_c4', 'cutaneous_lupus', 'Lupus']                                                                                                                                                                                                                                   3
Name: trajectory, dtype: int64

In [9]:
len(misdiag_no_lupus_as_lupus_df)

59

#### Misdiagnosed 'Lupus' as 'No lupus'

In [12]:
misdiag_lupus_as_no_lupus_df = misdiag_test_df[misdiag_test_df.y_pred==0]
misdiag_lupus_as_no_lupus_df.head()

,index,episode_length,reward,y_pred,y_actual,trajectory,terminated,is_success
239,239.0,16.0,-1.644399,0.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
363,363.0,23.0,-2.029663,0.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
400,400.0,20.0,-1.862653,0.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
721,721.0,24.0,-2.092163,0.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0
783,783.0,21.0,-1.930840,0.0,1.0,"['ana', 'joint_involvement', 'anti_dsdna_antib...",0.0,0.0

In [13]:
len(misdiag_lupus_as_no_lupus_df)

87

In [14]:
len(misdiag_lupus_as_no_lupus_df.trajectory.unique())

42

In [15]:
misdiag_lupus_as_no_lupus_df.trajectory.value_counts()[:3]

['ana', 'joint_involvement', 'anti_dsdna_antibody', 'low_c3', 'anti_smith_antibody', 'fever', 'psychosis', 'non_scarring_alopecia', 'pleural_effusion', 'cutaneous_lupus', 'seizure', 'leukopenia', 'low_c4', 'pericardial_effusion', 'No lupus']                                                    11
['ana', 'joint_involvement', 'anti_dsdna_antibody', 'low_c3', 'anti_smith_antibody', 'pericardial_effusion', 'non_scarring_alopecia', 'leukopenia', 'proteinuria', 'cutaneous_lupus', 'pleural_effusion', 'fever', 'low_c4', 'No lupus']                                                              6
['ana', 'joint_involvement', 'anti_dsdna_antibody', 'fever', 'psychosis', 'low_c3', 'proteinuria', 'non_scarring_alopecia', 'cutaneous_lupus', 'leukopenia', 'pleural_effusion', 'pericardial_effusion', 'lupus_anti_coagulant', 'delirium', 'thrombocytopenia', 'seizure', 'low_c4', 'No lupus']     6
Name: trajectory, dtype: int64