In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('../data/train_set_basic.csv')
val_df = pd.read_csv('../data/val_set_constant.csv')
test_df = pd.read_csv('../data/test_set_constant.csv')
len(train_df), len(val_df), len(test_df)

(50400, 5600, 14000)

In [3]:
full_df = pd.concat([train_df, val_df, test_df])
len(full_df)

70000

In [4]:
full_df.head()

,ana,fever,leukopenia,thrombocytopenia,auto_immune_hemolysis,delirium,psychosis,seizure,non_scarring_alopecia,oral_ulcers,...,joint_involvement,proteinuria,anti_cardioliphin_antibodies,anti_β2gp1_antibodies,lupus_anti_coagulant,low_c3,low_c4,anti_dsdna_antibody,anti_smith_antibody,label
0,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,1,0,0,0,0,0,0,1,1,0,...,0,1,0,0,0,0,0,1,1,1
4,1,0,0,1,1,1,0,0,0,0,...,0,1,0,0,0,1,0,0,1,1

#### Adding renal biopsy to the dataset

#### Re-labelling dataset